.slide#actioncable
  .slide--item
    .slide--content.js-animation-hook(data-frame="frame-2")
      h2 You Had
      .slide--text
        | Client applications communicating with Rails through Action Cable.
        br
        br
        | It's written in Ruby and doesn't act well in terms of resources usage and overall performance, especially under high load.
      .slide--image.mobile-only
        .ac-slide--top-image
          include /images/actioncable-top.svg
        .slide--image.ac-slide--image
          include /images/actioncable.svg
    .slide--actions.desktop-only.js-scroll-link(data-target="#anycable")
      span.slide--action-arrow
        include /images/arrow.svg
      span.slide--action-text How can we fix it?

