.slide
  .slide--item.left
    .slide--content
      .ac-slide--top-image
        include ../images/actioncable-top.svg
      .slide--image.ac-slide--image
        include ../images/actioncable.svg
  .slide--item.right
    .slide--content
      h2 You Used to Have
      .slide--text
        | Client applications communicate with Rails through Action Cable.
        br
        br
        | It's written in Ruby and doesn't act good in terms of resources usage and overall performance (especially under high load).
