.slide
  .slide--item.left
    .slide--content
      .slide--image.ac-slide--image
        include ../images/anycable.svg
  .slide--item.right
    .slide--content
      h2 Now You Have
      .slide--text
        | AnyCable plugged into the Rails Application which allows you to use custom WebSocket server.
        br
        br
        | You can try one of the 
        a(href="https://github.com/anycable/anycable#compatible-websocket-servers", target="_blank") existing AnyCable servers 
        | or write your own in any language you like.