.slide#anycable
  .slide--item
    .slide--content.js-animation-hook(data-frame="frame-3")
      h2 Now You Have
      .slide--text
        | AnyCable plugged into the Rails application that allows you to use custom WebSocket server.
        br
        br
        | Try one of the 
        a(href="https://github.com/anycable/anycable/wiki/List-of-Compatible-Servers", target="_blank") existing AnyCable servers 
        | or write your own in any language you like.

      .slide--image.ac-slide--image.mobile-only
        include ../images/anycable.svg

      br
      br
      h3 Reduced CPU usage
      h4 Running 
        a(href="https://github.com/hashrocket/websocket-shootout", target="_blank") WebSocket Shootout 
        | benchmark
      .slide--chart
        .slide--chart--item
          img(src="/images/anycable.gif")
          .slide--chart--caption.red AnyCable-Go
        .slide--chart--item
          img(src="/images/actioncable.gif")
          .slide--chart--caption.orange ActionCable

      br
      br
      h3 Reduced memory usage
      h4 Handling 20K idle connections
      .slide--chart.memory-chart
        .slide--chart--item.memory-chart--item
          .slide--chart--caption.red AnyCable-Go
          .memory-figure.red(style="height:4vh")
          .slide--chart--caption 798 MB
        .slide--chart--item.memory-chart--item
          .slide--chart--caption.green ErlyCable
          .memory-figure.green(style="height:5vh")
          .slide--chart--caption 832 MB
        .slide--chart--item.memory-chart--item
          .slide--chart--caption.orange ActionCable
          .memory-figure.orange(style="height:20vh")
          .slide--chart--caption 3,5 GB

      br
      br
      h3 Drastically increased broadcasting performance
      h4 Broadcast RTT depending on number of connections
      .slide--chart
        .slide--chart--item
          include ../images/rtt.svg
          .slide--chart--captions
            .slide--chart--caption.red AnyCable-Go
            .slide--chart--caption.green ErlyCable
            .slide--chart--caption.orange ActionCable

      br
      br
      h3 Outside of Rails usage

      .slide--text.js-animation-hook(data-frame="frame-31")
        | AnyCable doesn't depend on Rails.
        br
        | You can 
        a(href="https://github.com/anycable/anycable/wiki/Using-AnyCable-with-Ruby-(non-Rails)", target="_blank") use it with other Ruby applications 
        | too.
        br
        br
        | Check out 
        a(href="https://github.com/palkan/litecable/tree/master/examples/sinatra", target="_blank") Sinatra example.


