.slide.full
  .slide--item.white.fullscreen.contacts.with-padding
    .contacts--column
      .contacts--group.no-desktop
        .logo
          include /images/em.svg
      .contacts--group
        p
          strong Get in touch
        p
          a.gtm-link(href="mailto:anycable@evilmartians.com", data-gtm-category="landingLink", data-gtm-action="formEmail6") anycable@evilmartians.com
      .contacts--group.desktop-only
        a.gtm-link.logo(href="https://evilmartians.com", target="_blank", data-gtm-category="landingLink", data-gtm-action="martianLogo6", rel="noreferrer noopener")
          include /images/em.svg
    .contacts--column
      .contacts--group
        p
          strong Or call us
        p
          a.gtm-link(href="tel:+18884005485", data-gtm-category="landingLink", data-gtm-action="formPhone6") +1 888 400 5485
      .contacts--group
        p
          | 195 Montague St.
          br
          | Brooklyn, NY 11201
