.footer
  .footer--block
    h3 Project
    p.footer--list--item
      a(href="https://github.com/anycable") GitHub
    p.footer--list--item
      a(href="https://rubygems.org/gems/anycable") RubyGems
    
  .footer--block
    h3 Community
    p.footer--list--item
      a(href="https://gitter.im/anycable/Lobby") Gitter
    p.footer--list--item
      a(href="https://twitter.com/any_cable") Twitter

  .footer--block
    h3 Resources
    p.footer--list--item
      a(href="https://evilmartians.com/chronicles/anycable-actioncable-on-steroids") AnyCable Story
    p.footer--list--item
      a(href="https://github.com/anycable/anycable/wiki") Wiki
    p.footer--list--item
      a(href="https://gitpitch.com/anycable/anycable/master?grs=github") GitPitch
    p.footer--link--item
      a(href="https://www.youtube.com/watch?v=jXCPuNICT8s") "One cable to rule them all" (RubyKaigi 2018)
    p.footer--list--item
      a(href="https://speakerdeck.com/palkan") SpeakerDeck
    p.footer--list--item
      a(href="http://gabrielmalakias.com.br/ruby/hanami/iot/2017/05/26/websockets-connecting-litecable-to-hanami.html") Connecting LiteCable to Hanami
    p.footer--list--item
      a(href="https://medium.com/@leshchuk/from-action-to-any-1e8d863dd4cf") From Action to Any

  .footer--block.legals
    p
      span.copyright 2016&ndash;2018
      a(href="https://twitter.com/palkan_tula") Vlad Dem 
      | & 
      a(href="https://evilmartians.com") Evil Martians
    p
      | Released under the 
      a(href="https://opensource.org/licenses/MIT") MIT license

    p
      | Website by 
      a(href="https://twitter.com/antiflasher") Anton Lovchikov

    .footer--humanoids
      include ../layout/humanoids
      