.footer
  .footer--block
    h3 Project
    p.footer--list--item
      a(href="/") Website
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="https://github.com/anycable/anycable", rel="noreferrer noopener") GitHub
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="https://rubygems.org/gems/anycable", rel="noreferrer noopener") RubyGems
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="https://hub.docker.com/u/anycable", rel="noreferrer noopener") DockerHub

  .footer--block
    h3 Case Studies
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="/case-studies/healthie") Making a chat’s real-time functionality<br>Healthie-r with AnyCable Pro
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="/case-studies/vito") Revitalizing Vito with AnyCable Pro
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="/case-studies/callbell") A call for Pro: Callbell

  .footer--block
    h3 Community
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="https://github.com/anycable/anycable/discussions", rel="noreferrer noopener") GitHub Discussions
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="https://twitter.com/any_cable", rel="noreferrer noopener") Twitter

  .footer--block
    h3 Resources
    p.footer--list--item
      a(href="/blog") Blog
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="https://docs.anycable.io", rel="noreferrer noopener") Documentation
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="https://www.youtube.com/playlist?list=PLAgBW0XUpyOVFnpoS6FKDszd8WEvXzg-A", rel="noreferrer noopener") Screencast
    p.footer--list--item
      a.gtm-footer-link(target="_blank", href="https://docs.anycable.io/?id=talks", rel="noreferrer noopener") Talks

  .footer--block.legals
    p
      span.copyright 2017&ndash;2023&nbsp;
      a.gtm-footer-link.desktop-only(href="https://twitter.com/palkan_tula") Vladimir Dementyev&nbsp;
      a.gtm-footer-link.no-desktop(href="https://twitter.com/palkan_tula") Vlad Dem&nbsp;
      | &&nbsp;
      a.gtm-footer-link(href="https://evilmartians.com") Evil Martians
    p
      | Open-source version released under the&nbsp;
      a.gtm-footer-link(href="https://opensource.org/licenses/MIT") MIT license

    p
      | Pro version released under the&nbsp;
      a.gtm-footer-link(href="/eula") Commercial License

    p
      | Website by&nbsp;
      a(href="https://twitter.com/antiflasher") Anton Lovchikov

    .footer--humanoids
      include /layout/humanoids
