.slide.full.no-border
  .slide--item.fullscreen.contact-form.js-form
    form.contact-form.form.gtm-form#main-form(action=formURL, method="post", data-gtm-category="landingForm", data-gtm-action="formSend6")
      .form--honeypot
        input(type="text", name="name", id="name", placeholder="Your name", aria-label="Your name", autocomplete="nope", tabindex="-1")
      .form--controls
        .form--control
          input(type="text", name="email", placeholder="Your email", aria-label="Your email", required)
        .form--control
          button.btn(type="submit", disabled)
            span.btn--text Send
      .form--error.error.small-text Something went wrong :(
    .slide--text.initial-message We will email or call you back promptly.
    .slide--text.message
      h3 Thanks for reaching out! Please continue in TypeForm.
      .logo
        include /images/logo.svg
