.slide.full
  .slide--item.try-it-now.fullscreen.js-animation-hook(data-frame="frame-5")
    .slide--block#getting-started
      h2.with-images#try-it-now Try it now
      .slide--text.with-images
        | AnyCable is free and open source software. The source code is available on GitHub, and we have an extensible documentation and a vibrant user community. Try it now!
      .slide--btn.zero-margin
        a.btn.gtm-link(href="https://github.com/anycable/anycable", target="_blank", data-gtm-category="landingButton", data-gtm-action="gitHub6", rel="noreferrer noopener")
          span.btn--icon
            include /images/github.svg
          span.btn--text GitHub
        a.btn.pink.gtm-link(href="https://docs.anycable.io/rails/getting_started", target="_blank", data-gtm-category="landingButton", data-gtm-action="docs6", rel="noreferrer noopener")
          span.btn--icon
            include /images/docs.svg
          span.btn--text Docs
    .slide--block.white
      h2#custom-solutions Custom solutions
      .slide--text
        | AnyCable development is backed by&nbsp;
        a(href="https://evilmartians.com", target="_blank", rel="noreferrer noopener") Evil Martians
        | , a product development consultancy with more than ten years of experience in building successful Ruby applications—with popular gems and Rails commits to back it up.
      .slide--text
        | For our clients all over the world, AnyCable is what we use by default to add real-time features to their Rails applications.
      .slide--text
        | We can help you build real-time features for your application, provide support for AnyCable, build a custom solution on top of AnyCable, or even modify AnyCable itself.
      .slide--text
        | Let’s have a chat and see what we can do for you!
