.slide.main-slide
  .slide--item.right.main-slide--item
    .slide--content.js-animation-hook(data-frame="frame-1")
      .slide--image.mobile-only.main-slide--logo
        include ../layout/logo
      h1.main-slide--title ANYCABLE
      p.main-slide--sub-title Action Cable on steroids!
      .slide--text.main-slide--text.grey
        | Combines the good parts of Action Cable with the power of your favorite language for concurrent applications
      .nav.main-slide--btn.js-bubble(data-delta=50)
        a.btn(href="https://github.com/anycable/anycable")
          span.btn--icon
            include ../images/github.svg
          span FORK ON GITHUB
        .topnav.desktop-only.js-bubble
          .topnav--title ANYCABLE
          a.btn.topnav--btn(href="https://github.com/anycable/anycable") TRY IT NOW
      .slide--actions.desktop-only.js-scroll-link(data-target="#actioncable")
        span.slide--action-arrow
          include ../images/arrow.svg
        span.slide--action-text See how it works
