.slide
  .slide--item.left
    .slide--content
      .main-slide--logo
        include ../layout/logo
  .slide--item.right
    .slide--content
      h1.main-slide--title.alpha ANYCABLE
      .slide--text.grey
        | Polyglot Replacement for Action Cable Server
        br
        | For Performance
