.slide.main-slide
  .slide--item.left
    .slide--content
      .main-slide--logo
        include ../layout/logo
  .slide--item.right
    .slide--content
      h1.main-slide--title.alpha ANYCABLE
      .slide--text.grey
        | Combines the good parts of Action Cable with the power of your favorite language for concurrent applications
      a.btn.main-slide--btn(href="https://github.com/anycable/anycable")
        span.btn--icon
          include ../images/github.svg
        span FORK ON GITHUB