.slide.main-slide
  .slide--item.right.main-slide--item
    .slide--content.js-animation-hook(data-frame="frame-1")
      div.main-slide--title-container
        h1.main-slide--title
          span AnyCable
          a.main-slide--title-label(href="https://docs.anycable.io/release_notes", target="_blank") v1.1
      p.main-slide--sub-title
        | Build lightning fast, reliable real-time
        | applications with Ruby and Rails
      .slide--text.main-slide--text.small-text
        | Add real-time features to your Ruby on Rails application without ever having to switch to another platform or language.
        | Stay productive by writing clean, maintainable code in Ruby with the assurance that your application scales and won’t cost a fortune to run.
      div
        .main-slide--buttons
          .main-slide--btn-cta.js-bubble(data-delta=50,data-invert-anchors="pro")
            p.small-text
              | Get
              <strong> free early access to AnyCable PRO</strong>
              |  packed with new helpful features, reduced memory footprint, and priority support! The offer is available until August 31, 2021.
            a.btn.secondary.centered.js-scroll-link.gtm-link(data-target="#pro", data-gtm-category="landingButton", data-gtm-action="tryIt1")
              span.btn--icon
                include /images/play.svg
              span.btn--text Try it now
            .topnav.desktop-only.js-bubble
              .topnav--title AnyCable
              a.btn.small.topnav--btn.js-scroll-link.gtm-link(data-target="#getting-started", data-gtm-category="landingMenu", data-gtm-action="tryIt")
                span.btn--icon
                  include /images/play.svg
                span.btn--text Try it now
              a.btn.small.topnav--btn.secondary.gtm-link(href="https://docs.anycable.io", target="_blank", data-gtm-category="landingButton", data-gtm-action="docs")
                span.btn--icon
                  include /images/docs.svg
                span.btn--text Docs
          .main-slide--buttons-secondary
            a.btn.outline.centered.js-scroll-link.gtm-link(data-target="#custom-solutions", data-gtm-category="landingButton", data-gtm-action="support")
              span.btn--icon
                include /images/support.svg
              span.btn--text Support
            a.btn.outline.centered.gtm-link(href=sponsorUrl, target="_blank", rel="nofollow noopener", data-gtm-category="landingButton", data-gtm-action="sponsor")
              span.btn--icon
                include /images/heart.svg
              span.btn--text Sponsor Us
            a.btn.outline.centered.gtm-link(href="https://docs.anycable.io", target="_blank", data-gtm-category="landingButton", data-gtm-action="docs")
              span.btn--icon
                include /images/docs.svg
              span.btn--text Docs
            a.btn.outline.centered.gtm-link(href="https://github.com/anycable/anycable_rails_demo", target="_blank", data-gtm-category="landingButton", data-gtm-action="demo")
              span.btn--icon
                include /images/demo.svg
              span.btn--text Demo
      .slide--actions.desktop-only.js-scroll-link(data-target="#realtime")
        span.slide--action-arrow
          include /images/arrow.svg
        span.slide--action-text See how it works
