.slide#cloud
  .slide--item.has-feedback
    .slide--content.js-animation-hook(data-frame="frame-4")
      h2#opensource
        | You’re in control
      br
      .slide--content-bg
        .features--list
          .features--item
            .features--item--bullet 1
            .features--item--text
              | AnyCable is free and open-source software.
          .features--item
            .features--item--bullet 2
            .features--item--text
              | It is easy to install AnyCable in your application cluster—in a public or private cloud or on bare metal.
          .features--item
            .features--item--bullet 3
            .features--item--text
              | You don’t have to pay for an external service and be limited by its pricing. Don’t make your application a hostage of a Software as a Service pricing plan.
          .features--item
            .features--item--bullet 4
            .features--item--text
              | You can be sure that the software has precisely the features that you need and none you don’t. With AnyCable, you have no message or channel-specific limits, no throttling, and even the capacity for guaranteed message delivery.
          .features--item
            .features--item--bullet 5
            .features--item--text
              | With no third parties involved, there is no added networking latency, and everything can be completely secure.
          .features--item
            .features--item--bullet 6
            .features--item--text
              | You are in full control over all features and upgrades.
        br
        h3#observability
          | Observability
        .slide--text
          p
            | AnyCable brings transparency to your real-time features via smart metrics reporting support. Keep everything on the radar and under control by sending metrics to StatsD or Prometheus, and visualizing them in Grafana.
          a.slide--text--video(href="https://evilmartians.com/chronicles/real-time-stress-anycable-k6-websockets-and-yabeda?utm_source=anycable-web", target="_blank",  data-gtm-category="landingLink", data-gtm-action="realTimeStressVideo", rel="noreferrer noopener")
            video(loop="loop", muted="muted", autoplay="autoplay", playsinline="true", width="80%", height="auto")
              source(src="https://cdn.evilmartians.com/front/posts/real-time-stress-anycable-k6-websockets-and-yabeda/k6-cable.av1-2beae7b.mp4", type="video/mp4; codecs=av01.0.05M.08,opus")
              source(src="https://cdn.evilmartians.com/front/posts/real-time-stress-anycable-k6-websockets-and-yabeda/k6-cable.hevc-18f3467.mp4", type="video/mp4; codecs=hevc,mp4a.40.2")
              source(src="https://cdn.evilmartians.com/front/posts/real-time-stress-anycable-k6-websockets-and-yabeda/k6-cable.h264-1726b48.mp4", type="video/mp4; codecs=avc1.4D401E,mp4a.40.2")
              | Load testing AnyCable with xk6-cable
        .slide--text
          p
            | Keep everything on the radar and under control by sending metrics to StatsD or Prometheus, and visualizing them in Grafana.
        .slide--text.has-media
          a.slide--text--media(href="https://evilmartians.com/chronicles/real-time-stress-anycable-k6-websockets-and-yabeda?utm_source=anycable-web", target="_blank",  data-gtm-category="landingLink", data-gtm-action="realTimeStressPost", rel="noreferrer noopener")
            img(src="/images/instrumentation-post-cover.png", height="68", alt="xk6-cable illustration")
          p
            | Prepare for any storm with k6 by using our awesome plugin—
            a(href="https://github.com/anycable/xk6-cable", target="_blank", data-gtm-category="landingLink", data-gtm-action="xk6Cable", rel="noreferrer noopener") xk6-cable
            |!
        .slide--text.mb-0
          | Discover more about 
          a.link.outline(href="https://docs.anycable.io/anycable-go/instrumentation")
            span.link--text instrumentation 
            span.link--icon
              include /images/docs.svg
      include ../feedback/ebay
