.pro-badge.desktop-only
  a.js-scroll-link.gtm-link(data-target="#pro", data-gtm-category="proBadge", data-gtm-action="pro")
    include /images/pro-badge-no-free.svg
.slide.red.no-border#pro
  .slide--illustration.desktop-only
    .slide--illustration--sticky-container
      .slide--illustration--content
        include /images/logo-pro.svg
  .slide--item.red
    .slide--content.js-animation-hook(data-frame="frame-4")
      .slide--image.mobile-only
        include /images/logo-pro.svg
      h2#opensource.slide--title.red
        | Get your PRO version
      p.slide--text.red
        | Get even more resource efficiency at scale, improve DX, and get priority support by switching to the PRO version of AnyCable.
      p.features--title
        | PRO includes additional features:
      .features--list
        .features--item.align-center
          .features--item--icon
            include /images/speed.svg
          .features--item--text
            | Reduced memory usage
        .features--item.align-center
          .features--item--icon
            include /images/graphql.svg
          .features--item--text
            | Apollo GraphQL compatibility
        .features--item.align-center
          .features--item--icon
            include /images/binary.svg
          .features--item--text
            | Binary communication protocols for bandwidth savings
        .features--item.align-center
          .features--item--icon
            include /images/priority.svg
          .features--item--text
            | Priority support on GitHub
        .features--item.align-center
          .features--item--icon
            include /images/multi.svg
          .features--item--text
            | Unlimited instances
        .features--footer
          a.btn.light.small.gtm-link(href="https://docs.anycable.io/pro", data-gtm-category="landingButton", data-gtm-action="proReadMore", target="_blank")
            span.btn--text Read more
            span.btn--icon.red
              include /images/arrow-right.svg
      p.slide--text.red
        | We have three annual plans for AnyCable Pro: Basic, Advanced, and Enterprise, and they all include an unlimited number of instances. Every plan starts with a 2-month free trial.
    .slide--pricing
      .slide--pricing--header
        p.slide--pricing--header--title.mobile-hide
            | Plan
        p.slide--pricing--header--title.mobile-hide
            | Support
        p.slide--pricing--header--title.mobile-show
            | Plan and Support
        p.slide--pricing--header--title
            | Price
      .slide--pricing--body
        p.slide--pricing--body--item.first-column
          | Open source
        p.slide--pricing--body--item.first-column.support
          | Support on GitHub
        p.slide--pricing--body--item.second-column.price-1
          | 🎉 Free
        p.slide--pricing--body--item.first-column
          | Basic
        p.slide--pricing--body--item.first-column.support
          | Priority support on GitHub
        p.slide--pricing--body--item.second-column.price-2
          span.slide--pricing--body--price $590/year
        p.slide--pricing--body--item.first-column
          | Standard
        p.slide--pricing--body--item.first-column.support
          | Dedicated support via Slack
        p.slide--pricing--body--item.second-column.price-3
          span.slide--pricing--body--price $1,490/year
        p.slide--pricing--body--item.first-column
          | Enterprise
        p.slide--pricing--body--item.first-column.support
          | Top priority support, custom solutions, and deployment & monitoring help.
        p.slide--pricing--body--item.second-column.price-4
          | 🔥&nbsp;Contact&nbsp;us
      .slide--pricing--footer
        .pro-form.js-form.contact-form
          form.form.gtm-form#pro-form(action=proFormUrl, method="post", data-gtm-category="landingForm", data-gtm-action="formProSend")
            .form--honeypot
              input(type="text", name="name", id="name", placeholder="Your name", aria-label="Your name", autocomplete="nope", tabindex="-1")
            .form--controls
              .form--control
                input(type="text", name="email", placeholder="Your email", aria-label="Your email", required)
              .form--control
                button.btn.light.form-submit(type="submit", disabled)
                  span.btn--text Get pro
            .form--error.error.small-text.white-text Something went wrong :(