.slide#realtime
  .slide--item.has-feedback
    .slide--content.js-animation-hook(data-frame="frame-2")
      h2#real-time
        | Real-time with
        br
        | Ruby and Rails
      br
      .features--list
        .features--item
          .features--item--bullet 1
          .features--item--text
            | You’ve chosen Ruby to write beautiful, clean, and maintainable code.
        .features--item
          .features--item--bullet 2
          .features--item--text
            | You need real-time features like instant collaboration, chat, or notifications, but you don’t want to change the platform or lose the development tempo.
        .features--item
          .features--item--bullet 3
          .features--item--text
            | You can have it all—just plug an AnyCable server and offload all the hard work to it, while you continue to write business logic in Ruby.
    include ../feedback/managebac
