.slide--feedback
  .slide--feedback--header
    .slide--feedback--title
      h4 Gianluca Bargelli
      h4 Co-founder & CTO at Callbell
    img.slide--feedback--logo(src="/images/logos/callbell.png", height="50", alt="Callbell logo")
  .slide--feedback--body.quote.small-text
    | We've been happily using the OSS version of AnyCable for almost two years for our chat inbox - the most critical part of the product. With Pro, the immediate benefit we had was halving our dyno instances.
  .slide--btn
    a.btn.js-scroll-link.gtm-link(data-target="#pro", data-gtm-category="landingButton", data-gtm-action="pro2")
      span.btn--text.no-mobile.no-tablet Try PRO version
      span.btn--text.no-desktop Try PRO
