.slide--feedback
  .slide--feedback--header
    .slide--feedback--title
      h4 Alexander Maltsev
      h4
        | Head of Buyers Marketing & Offplatform, eBay
    img.slide--feedback--logo(src="/public/images/logos/ebay.png", height="60", alt="eBay logo")
  .slide--feedback--body.quote.small-text
    | For eBay Social, an eBay product dedicated to improving eBay buyer experience, we needed a solution that would 100% conform with eBay’s strict security policies; at the same time, we needed to move fast and not waste any time implementing an ad-hoc solution.
  .slide--feedback--body.small-text
    | With AnyCable, we didn’t have to use a third party cloud software as a service—instead, we were able to continue our fast-paced iterative development with Ruby on Rails while AnyCable, which was installed inside our cluster, did all the real-time work.
  .slide--btn
    a.btn.js-scroll-link.gtm-link(data-target="#getting-started", data-gtm-category="landingButton", data-gtm-action="customSolution5")
      span.btn--text.no-mobile.no-tablet Build your custom solution
      span.btn--text.no-desktop Custom solutions
