.slide--feedback
  .slide--feedback--header
    .slide--feedback--title
      h4 Theo King
      h4 CEO ManageBac
    img.slide--feedback--logo(src="/public/images/logos/managebac.png", height="50", alt="ManageBac logo")
  .slide--feedback--body.quote.small-text
    | AnyCable provided ManageBac with a stable technology to manage real-time collaboration and curriculum planning for over 800,000 students & teachers—it handles thousands of simultaneous connections and optimizes resource usage even during peak load times.
  .slide--btn
    a.btn.js-scroll-link.gtm-link(data-target="#getting-started", data-gtm-category="landingButton", data-gtm-action="customSolution2")
      span.btn--text.no-mobile.no-tablet Build your custom solution
      span.btn--text.no-desktop Custom solutions
