.slide--feedback
  .slide--feedback--header
    .slide--feedback--title
      h4 Watch the video of AnyCable talk at RubyConf
    a.slide--feedback--logo(href="https://www.youtube.com/watch?v=8XRcOZXOzV4", target="_blank")
      img(src="/images/rubyconf-video.png", , height="60")
  .slide--feedback--body.small-text
    | In this talk, I will show you how we can combine the elegance of Ruby 
    | with the power of other languages to improve the performance of real-time applications.
  .slide--feedback--header
    .slide--feedback--title
      h4 Read the introductory post
    a.slide--feedback--logo(href="https://evilmartians.com/chronicles/anycable-actioncable-on-steroids", target="_blank")
      img(src="/images/blog-post.png", height="60")
  .slide--feedback--body.small-text
    | to learn about the reasons behind the development of AnyCable and its key features: 
    a(href="https://evilmartians.com/chronicles/anycable-actioncable-on-steroids", target="_blank") evl.ms/blog/anycable-actioncable-on-steroids
