.slide--feedback
  .slide--feedback--header
    .slide--feedback--title
      h4 Alexander Maltsev
      h4
        | Head of Buyers Marketing & Offplatform, eBay
    img.slide--feedback--logo(src="/images/logos/ebay.png", height="60")
  .slide--feedback--body.quote.small-text
    | For eBay Social, an eBay product dedicated to improving eBay buyer experience, 
    | we needed a solution that would 100% conform with strict eBay security policies; 
    | at the same time, we needed to move fast and not waste any time implementing an ad-hoc solution. 
  .slide--feedback--body.small-text
    | With AnyCable, we did not have to use a third party cloud software as a service—instead,
    | we continued to do fast iterative development with Ruby on Rails and let AnyCable, that was installed inside our cluster, do all the real-time work.
  .slide--btn
    a.btn.js-scroll-link(data-target="#getting-started")
      span.desktop-only BUILD YOUR CUSTOM SOLUTION
      span.mobile-only CUSTOM SOLUTIONS
