.slide--feedback
  .slide--feedback--header
    .slide--feedback--title
      h4 Theo King
      h4 CEO ManageBac
    img.slide--feedback--logo(src="/images/logos/mb.png")
  .slide--feedback--quote.small-text
    | AnyCable provided us the opportunity to build real-time collaborative functionality that our 800,000+ students and teachers around the globe need today.
    | AnyCable manages thousands of simultaneous connections while keeping resource usage under control even during peak load.
  .slide--feedback--btn
    a.btn.js-scroll-link(data-target="#getting-started")
      span BUILD YOUR CUSTOM SOLUTION
