.slide--chart {
  display: flex;
  align-items: flex-start;
  padding: 0 10px;

  &--item {
    margin-right: 10px;
    flex-grow: 1;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    > img, > svg {
      width: 100%;
      height: auto;
    }
  }

  &--captions {
    display: flex;
    justify-content: space-around;
  }

  &--caption {
    text-align: center;
    margin-top: 10px;

    &.red {
      color: $dark-red;
    }

    &.orange {
      color: $orange;
    }

    &.green {
      color: $green;
    }
  }
}

@media (max-width: 600px) {
  .slide--chart--caption {
    font-size: 3vw;
  }
}

@import "memory.css"
