.main-slide {
  &--title {
    display: inline;
    position: relative;

    &:after {
      position: absolute;
      top: -8px;
      right: -16px;
      line-height: 0;
    }
     
    &.alpha:after {
      content: url('/images/alpha.svg');
    }

    &.beta:after {
      content: url('/images/beta.svg');
    }
  }

  &--text {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &--btn {
    position: absolute;
  }
}

@media (max-width: $tablet) and (min-width: $mobile_min) {
  .main-slide {
    &--title {
      font-size: 6vw;
    }
  }
}

@media (max-width: $mobile) {
  .main-slide {
    flex-direction: column;
    margin-bottom: 60px;

    &--logo svg {
      width: 30vh;
      padding: 10vw 0;
    }

    &--btn {
      left: auto;
    }
  }
}
