$className: 'about-slide';

.#{$className} {
  display: flex;
  justify-content: center;
  padding: 0;

  &__wrapper {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
  }

  &__section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include mediaMax($tablet) {
      padding: 0 24px;
      background-color: $backgroundSecondaryColor;
    }
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    background-color: $backgroundSecondaryColor;
    border-right: 1px solid $borderPrimaryColor;
    padding: 0px 64px;
    z-index: 2;
    position: relative;

    @include mediaMax($tablet) {
      width: 100%;
      border-right: none;
      padding: 0;

      &:first-child {
        padding-top: 48px;
      }
    }
  }

  &__media {
    width: 50%;
    padding: 0 64px;
    background-color: $backgroundPrimaryColor;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-top {
      margin-top: 120px;

      @include mediaMax($tablet) {
        margin-top: 24px;
      }
    }

    &-align-top {
      align-self: flex-start;
      margin-bottom: 48px;
    }

    @include mediaMax($tablet) {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 120px;
    left: calc(100% - 120px);

    @include mediaMax($tablet) {
      display: none;
    }
  }

  &__title {
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 56px;


    @include mediaMax($mobile) {
      font-size: 40px;
      line-height: 1.3;
      margin-bottom: 24px;
      margin-top: 24px;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    align-self: flex-start;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 20px;
    line-height: 1.6;
    align-self: flex-start;
    margin-bottom: 84px;


    @include mediaMax($mobile) {
      margin-bottom: 48px;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  &__btn {
    padding: 0 12px;
    box-shadow: none;
    background-color: $accentSecondaryColor;
    color: black;
  }

  &__btn-ruby.active-tab {
    background-color: $accentPrimaryColor;
    color: $backgroundPrimaryColor;
  }

  &__btn-pubsub.active-tab {
    box-shadow: none;
    background-color: transparent;
    color: $accentPrimaryColor;
    border: 2px solid $accentPrimaryColor;
  }

  &__btn-js.active-tab {
    // js logo yellow color
    background-color: #f7df1e;
    color: black;
  }

  &__section-image {
    display: flex;
    justify-content: center;
    width: 100%;

    @include mediaMin($tablet) {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

  &__video-tip {
    margin-bottom: 24px;
  }
}
