$className: 'demo';

@keyframes status-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.#{$className} {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100%;
  position: relative;
  justify-content: space-around;

  @include mediaHeightMin($extremeMaximumHeight) {
    max-height: 500px;
  }

  &__slide {
    @include mediaHeightMin($extremeMaximumHeight) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__chat {
    border: 1px solid $borderPrimaryColor;
    border-radius: 8px;
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__messages {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      justify-content: flex-end;
      overflow: hidden;
      background-color: $backgroundSecondaryColor;
    }

    &__form {
      padding: 0.5rem;
      background-color: $backgroundPrimaryColor;
    }

    &__input {
      width: 100%;
      max-width: 100%;
      appearance: none;
      border: none;
      font-size: 1rem;
      line-height: 1.5rem;

      &:focus {
        outline: none;
      }
    }

    &__message {
      border-radius: 8px;
      border: 1px solid $accentPrimaryColor;
      padding: 0.5rem;
      max-width: 70%;
      margin: 0 5px 5px 5px;
      color: $fontPrimaryInvertedColor;
      background-color: $accentPrimaryColor;
      align-self: flex-end;

      &_theirs {
        color: $fontPrimaryColor;
        border-color: #dcdcdc;
        background-color: #dcdcdc;
        align-self: flex-start;
      }
    }

    &__status_message {
      color: $fontSecondaryColor;
      font-size: 0.8rem;
      text-align: center;
      margin: 0 0 5px 0;
    }

    &__header {
      background-color: $backgroundPrimaryColor;
      padding: 12px 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $borderPrimaryColor;

      &_offline {
        & [role='status'] {
          color: $fontSecondaryColor;

          &::before {
            animation: none;
          }
        }
      }
    }

    &__user_details {
      align-self: center;
      display: flex;
      flex-direction: row;
      align-items: baseline;

      @include mediaMax(1330px) {
        flex-direction: column;
      }
    }

    &__username {
      font-weight: bold;
    }

    &__via {
      font-size: 0.8rem;
      font-weight: normal;
      margin-left: 5px;
    }

    &__status {
      font-size: 0.8rem;
      color: #48be00;
      font-weight: bold;
      text-decoration: none;
      position: relative;

      &::before {
        content: '•';
        font-size: 40px;
        position: absolute;
        left: -14px;
        top: -16px;
        animation: status-blink 1s infinite;
      }
    }
  }
}
