$className: 'plans-slide';

.#{$className} {
  padding-bottom: 64px;

  @include mediaMax(1080px) {
    // TEMP
    display: none;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  &__highlighted-text {
    font-weight: 700;
  }

  &__action-text {
    position: relative;
    margin-top: 24px;
    font-size: 17px;
    line-height: 1.4;

    &::before {
      content: '';
      position: absolute;
      bottom: 8px;
      left: -45px;
      width: 39.5px;
      height: 64px;
      background-repeat: no-repeat;
      background-image: url(../../images/curved-left-arrow-red.svg);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 8px;
      right: -45px;
      width: 39.5px;
      height: 64px;
      background-repeat: no-repeat;
      background-image: url(../../images/curved-right-arrow-red.svg.svg);
      z-index: -1;
    }
  }
}

.swiper {
  border: 1px solid black;
  width: 100%;
  max-width: 1072px;
}

.swiper-slide {
  min-height: 500px;
  background-color: green;
}
