$className: 'resources-slide';

.#{$className} {
  background-color: $backgroundSecondaryColor;

  &__content {
    width: 100%;
    max-width: 1920px;
    display: grid;
    gap: 56px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      'caseStudies docs'
      'caseStudies videos'
      'learnMore videos'
      'community videos';

    @include mediaMax($tablet) {
      grid-template-columns: 1fr;
      grid-template-areas: none;
    }

    &_place {
      &_resources {
        padding-bottom: 90px;

        @include mediaMax($tablet) {
          padding-bottom: 48px;
        }
      }
    }

    @include mediaMax($tablet) {
      margin-top: 24px;
    }
  }

  &__section {
    &_type {
      &_case-studies {
        grid-area: caseStudies;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }

      &_docs {
        grid-area: docs;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }

      &_learn-more {
        grid-area: learnMore;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }

      &_videos {
        grid-area: videos;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }

      &_community {
        grid-area: community;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }
    }
  }

  &__heading {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 24px;
  }
}
