$className: 'resources-slide';

.#{$className} {
  &__media {
    padding-bottom: 64px;
  }

  &__section {
    &_type {
      &_case-studies {
        margin-top: 24px;
        grid-area: caseStudies;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }

      &_docs {
        grid-area: docs;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }

      &_learn-more {
        grid-area: learnMore;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }

      &_videos {
        margin-top: 24px;
        grid-area: videos;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }

      &_community {
        margin-top: 24px;
        grid-area: community;

        @include mediaMax($tablet) {
          grid-area: auto;
        }
      }
    }
  }

  &__heading {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 24px;
  }
}
