$className: 'slide-show';

.#{$className} {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  padding-left: 64px;

  &__header {
    display: block;
    height: 120px;
  }

  &__frame {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-top: 38px;
    transition: opacity 2s, transform 1s ease;
  }

  &__code-wrapper {
    overflow: hidden;
    border-radius: 6px;
  }

  &__img {
    width: 100%;
  }
}
