$className: 'slide-show';

.#{$className} {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  padding-left: 64px;

  &__frame {
    display: flex;
    visibility: hidden;
    width: 0;
    opacity: 0;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: absolute;
    top: 0;
    padding-top: 238px;
    transition: opacity 0.6s, transform 0.4s ease;

    &_type {
      &_down-scroll {
        transform: translate(0, +100%);
      }

      &_up-scroll {
        transform: translate(0, -100%);
      }
    }

    &_visible {
      position: sticky;
      visibility: visible;
      opacity: 1;
      width: 100%;
      transform: translate(0);
    }
  }

  &__img {
    width: 100%;
  }
}
