$className: 'try-now';

.#{$className} {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 102px;

  @include mediaMax($mobile) {
    margin-top: 24px;
  }

  @include mediaHeightMax(600px) {
    display: none;
  }

  &__caption {
    text-align: center;
    font-size: 17.4px;
    line-height: 1.4;

    &_bolded {
      font-weight: 700;
    }

    @include mediaMax(380px) {
      display: none;
    }
  }

  &__button {
    margin-top: 24px;
    width: 100%;
    max-width: 472px;

    @include mediaMin($tablet) {
      margin-bottom: 90px;
    }
  }
}
