@import './veriables.scss';
@import './mixins.scss';

@font-face {
  font-family: 'Martian Mono';
  font-display: swap;
  src: url('/fonts/MartianMono.woff2') format('woff2');
  font-weight: 100 800;
  font-stretch: 75% 150%;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Stem', Arial, sans-serif;
  font-size: 18px;
  background-color: $backgroundPrimaryColor;
  min-width: 375px;
}

code {
  font-family: 'Martian Mono', monospace;
}

.mobile-only {
  @include mediaMin($tablet) {
    display: none;
  }
}

.no-mobile {
  @include mediaMax($mobile) {
    display: none;
  }
}

.desktop-only {
  @include mediaMax($tablet) {
    display: none;
  }
}
