extends /layout/base

block content
  nav.blog--nav
    a.btn.outline(href="/")
      span.btn--icon.blog--nav--arrow
        include /images/arrow-left.svg
      strong.btn--text.blog--nav--text AnyCable
    .blog--nav--section
      a.btn.small.topnav--btn.gtm-link(href="/#getting-started", data-gtm-category="blogMenu", data-gtm-action="tryIt")
        span.btn--icon
          include /images/play.svg
        span.btn--text Try it now
      a.btn.small.topnav--btn.secondary.gtm-link(href="https://docs.anycable.io", target="_blank", data-gtm-category="blogButton", data-gtm-action="docs")
        span.btn--icon
          include /images/docs.svg
        span.btn--text Docs
  .blog--content
    h1 Articles

    .blog--toc
      .blog--toc--section
        h3 Engineering
        .blog--toc--item.dev
          .blog--toc--item--desc
            span.blog--toc--item--date September 07, 2021
            a.blog--toc--item--title(href="https://evilmartians.com/chronicles/real-time-stress-anycable-k6-websockets-and-yabeda", target="_blank") Real-time stress: AnyCable, k6, WebSockets, and Yabeda
        .blog--toc--item.dev
          .blog--toc--item--desc
            span.blog--toc--item--date July 28, 2021
            a.blog--toc--item--title(href="https://evilmartians.com/chronicles/introducing-anycable-javascript-and-typescript-client", target="_blank") Introducing JavaScript and TypeScript client for AnyCable
        .blog--toc--item.dev
          .blog--toc--item--desc
            span.blog--toc--item--date June 16, 2021
            a.blog--toc--item--title(href="https://evilmartians.com/chronicles/anycable-goes-pro-fast-websockets-for-ruby-at-scale", target="_blank") AnyCable Goes Pro: Fast WebSockets for Ruby, at scale
      .blog--toc--section
        h3 Use Cases
        .blog--toc--item.case-study.callbell.invert
          .blog--toc--item--logo
            include /images/logos/callbell-white.svg
          .blog--toc--item--desc
            span.blog--toc--item--date August 3, 2021
            a.blog--toc--item--title(href="/case-studies/callbell") A call for Pro: Callbell
        .blog--toc--item.case-study
          .blog--toc--item--logo
          .blog--toc--item--desc
            span.blog--toc--item--date Soon
            span.blog--toc--item--title More announcements to come!

  include /slides/footer
