nav.blog--nav
  a.btn.outline(href="/blog")
    span.btn--icon.blog--nav--arrow
      include /images/arrow-left.svg
    strong.btn--text.blog--nav--text Other Posts
  .blog--nav--section
    a.btn.small.topnav--btn.gtm-link(href="/#getting-started", data-gtm-category="blogMenu", data-gtm-action="tryIt")
      span.btn--icon
        include /images/play.svg
      span.btn--text Try it now
    a.btn.small.topnav--btn.secondary.gtm-link(href="https://docs.anycable.io", target="_blank", data-gtm-category="blogButton", data-gtm-action="docs")
      span.btn--icon
        include /images/docs.svg
      span.btn--text Docs
