.blog {
  &--nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 30;
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    align-items: center;
    justify-content: space-between;

    &--section {
      display: flex;
      align-items: center;
    }

    &--link {
      display: flex;
      align-items: center;
    }

    &--arrow {
      margin-right: 8px !important;
    }

    &--text {
      color: black;
      font-size: 24px;
    }
  }

  &--cover {
    text-align: center;
    padding: 30px 0;
  }

  &--wrap {
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &--content {
    margin: 60px 0 30px 0;
    padding: 0 10em;

    @media (--tablet) {
      & {
        padding: 0 5em;
      }
    }

    @media (--mobile) {
      & {
        padding: 0 10%;
      }
    }

    @media (--wide) {
      & {
        margin: 60px auto 60px auto;
        max-width: 1024px;
        padding: 0;
      }
    }

    font-size: 20px;

    & h1 {
      text-align: center;
      text-transform: none;
      font-size: 50px;
      line-height: 60px;

      @media (--mobile) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }

    & h2 {
      margin-bottom: 20px;
    }

    & ul {
      padding: 0 0 1em 0;

      & li {
        list-style-type: disc;
      }
    }

    & pre {
      padding: 0 0 1em 0;
      word-wrap: break-word;
      white-space: pre-wrap;

      @media (--mobile) {
        font-size: 1rem;
      }
    }

    & code {
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    & .date {
      text-align: center;
      font-size: 14px;
      margin-bottom: 32px;
    }

    & .intro {
      font-size: 23px;
      font-weight: 700;
    }

    & .divider {
      border-bottom: 4px solid $red;
      display: block;
      margin-left: 5em;
      margin-right: 5em;
      margin-bottom: 30px;
      height: 0;
    }

    & p {
      padding: 0 0 1em 0;
    }

    & blockquote {
      padding: 1em 2em 0 2em;
      background: $grey-bg;
      border-radius: 1em;
      font-weight: 700;
      margin-bottom: 1em;
      position: relative;

      &::before {
        content: url('data:image/svg+xml; utf8, <svg fill="none" height="4" viewBox="0 0 80 4" width="80" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h80v4h-80z" fill="%23f64343"/></svg>');
        color: $red;
        font-weight: bold;
        position: absolute;
        font-size: 10px;
        left: calc(-40px - 1em);

        @media (--tablet) {
          left: initial;
          position: relative;
        }
      }
    }
  }

  &--figure {
    text-align: center;
    padding: 0 0 1em 0;
  }

  &--media {
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 100%;
  }

  &--youtube {
    width: 100%;
    height: calc((100vw - 20em)/1.77);

    @media (--tablet) {
      & {
        height: calc((100vw - 10em)/1.77);
      }
    }

    @media (--tablet) {
      & {
        height: calc(90vw/1.77);
      }
    }

    @media (--wide) {
      & {
        width: 1024px;
        height: calc(1024px/1.77);
      }
    }
  }

  &--toc {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & h3 {
      font-weight: bold;
    }

    &--section {
      flex-shrink: 1;
      width: 48%;
    }

    &--item {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      &--desc {
        display: flex;
        flex-direction: column;
        position: relative;
      }

      &--date {
        font-size: 14px;
      }

      &.dev &--title::before {
        content: url('data:image/svg+xml; utf8, <svg fill="none" height="2" viewBox="0 0 80 4" width="80" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h80v4h-80z" fill="%23f64343"/></svg>');
        color: $red;
        font-weight: bold;
        position: absolute;
        font-size: 1px;
        left: -86px;

        @media (--tablet) {
          display: none;
        }
      }

      &.case-study {
        padding: 1em 2em 1em 2em;
        background: $grey-bg;
        border-radius: 1em;
        align-items: center;

        @media(--mobile) {
          padding: 1em;
        }
      }

      &.invert {
        color: $white;

        & a {
          color: $white;

          &:hover {
            color: $white;
            opacity: 0.8;
          }
        }
      }

      &.callbell {
        background: #69bfa8;
      }

      &.vito {
        background: #272F3E;

        & a {
          color: #F4B4B4;
        }
      }

      &--logo {
        flex-grow: 0;
        margin-right: 24px;
        width: 64px;
        height: 64px;

        & svg {
          width: 64px;
          height: 64px;
        }
      }

      &--title {
        position: relative;
      }

      &--em {
        margin-left: 10px;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 20C1 13 5 15 5 15C5 15 7 19 0 20ZM3 13L0 13L3 7L5.30547 6.23151C7.48734 3.07342 11.7341 -1.0897e-05 20 0C20 8.26587 16.9266 12.5126 13.7685 14.6945L13 17L7 20V17L5 15L3 13ZM16 6C16 7.10457 15.1046 8 14 8C12.8954 8 12 7.10457 12 6C12 4.89543 12.8954 4 14 4C15.1046 4 16 4.89543 16 6ZM11 10C11.5523 10 12 9.55229 12 9C12 8.44771 11.5523 8 11 8C10.4477 8 10 8.44771 10 9C10 9.55229 10.4477 10 11 10ZM10 11C10 11.5523 9.55229 12 9 12C8.44771 12 8 11.5523 8 11C8 10.4477 8.44771 10 9 10C9.55229 10 10 10.4477 10 11Z' fill='%23F32B2B'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: text-bottom;
      }

      &--video {
        margin-left: 10px;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0C0.895431 0 0 0.895431 0 2V14C0 15.1046 0.895431 16 2 16H6H7.79615H12.1999H13H18C19.1046 16 20 15.1046 20 14V2C20 0.895431 19.1046 0 18 0H2ZM12.8665 17H10.4627L12.4628 20H14.8665L12.8665 17ZM9.53331 17H7.12948L5.12948 20H7.53323L9.53331 17ZM6.19008 3.43008C6 3.69255 6 4.14493 6 5.04969V10.9501C6 11.8548 6 12.3072 6.19008 12.5697C6.35588 12.7986 6.61085 12.9467 6.89189 12.9773C7.21405 13.0123 7.60699 12.7881 8.39285 12.3398L13.564 9.38962C14.3622 8.93428 14.7612 8.70661 14.8947 8.40849C15.0111 8.14851 15.0111 7.85124 14.8947 7.59126C14.7612 7.29314 14.3622 7.06547 13.564 6.61013L8.39286 3.65995C7.60699 3.21161 7.21405 2.98744 6.89189 3.02248C6.61085 3.05304 6.35588 3.20112 6.19008 3.43008Z' fill='%23F32B2B'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }

    @media(--mobile) {
      margin-top: 3rem;
      flex-direction: column;

      &--section {
        width: 100%;

        &:not(:first-child) {
          margin-top:3rem;
        }
      }
    }
  }

  &--banner {
    margin-top: 3em;
    text-align: center;
    border: 4px solid $red;
    border-radius: 1em;
    padding: 10px;
  }

  &--title-icon {
    height: 0.7em;
    vertical-align: baseline;
  }
}
