.btn {
  cursor: pointer;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  background: $red;
  transition: opacity 200ms, background-color 200ms, color 200ms;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  white-space: nowrap;
  will-change: opacity;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: none;
  }

  &.centered {
    justify-content: center;
  }

  &.outline {
    background-color: transparent;
    color: $red;
    padding: 0 12px;
    height: 30px;
    text-transform: none;
    font-weight: bold;
    letter-spacing: 0;
    font-size: 15px;

    &:visited,
    &:hover,
    &:active {
      color: $red;
      background-color: transparent;
    }
  }

  &.outline &--icon:first-child {
    margin-left: -5px;
    margin-right: 5px;
  }

  &.outline &--icon:last-child {
    margin-left: 5px;
    margin-right: -5px;
  }

  &.secondary {
    background: $pink;
    color: $red;

    &:visited,
    &:hover,
    &:active {
      background: $pink;
      color: $red;
    }
  }

  &.light {
    background: $light-red;

    &.gtm-link {
      background-color: #fff;
      color: $red;
    }

    &.gtm-link {
      background-color: #fff;
      color: $red;
    }
  }

  &.small {
    height: 36px;
    padding: 0 10px;
    font-size: 14px;
  }F

  &.small &--icon:first-child {
    margin-left: -5px;
    margin-right: 5px;
  }

  &.small &--icon:last-child {
    margin-left: 5px;
    margin-right: -5px;
  }

  @media (hover: none) {
    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &:active {
    background: $dark-red;
  }

  &:visited,
  &:hover,
  &:active {
    color: white;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: #535050;
    opacity: 0.2;
    cursor: not-allowed;
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    line-height: 1;

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-left: 16px;
    }
  }

  &--text {
    line-height: 1;
    margin-top: 3px;
  }

  @media (--mobile) {
    & {
      display: flex;
      justify-content: center;
      padding: 0 10px;
    }
  }
}
