@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Stem Text";
  font-display: swap;
  src: url("//cdn.evilmartians.com/front/fonts/subset-StemText-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Stem Text";
  font-display: swap;
  src: url("//cdn.evilmartians.com/front/fonts/subset-StemText-Bold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Stem";
  font-display: swap;
  src: url("//cdn.evilmartians.com/front/fonts/subset-Stem-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Stem";
  font-display: swap;
  src: url("//cdn.evilmartians.com/front/fonts/subset-Stem-Bold.woff") format("woff");
}
