.illustration {
  transform: translate3d(0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 50%;
  box-sizing: border-box;
  border-right: solid 1px $grey;

  &--content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 120px;
  }
}

@media (max-width: 800px) and (min-width: 601px) {
  .illustration {
    &--content {
      padding-right: 60px;
    }
  }
}

.i-logo {
  transition: transform 500ms easeOutCubic;

  .frame-1 & {
    transform: scale(2) translate(33px, 80px);
  }

  .frame-2 & {
    transform: scale(1) translate(106px, 0);
  }

  .frame-3 & {
    transform: scale(1) translate(106px, 380px);

    & .i-leg, .i-leg {
      transition: opacity 500ms;
      opacity: 0;
    }
  }

  .frame-4 & {
    transform: scale(2) translate(33px, 40px);
  }
}

.i-chart {
  transition: transform 500ms easeOutCubic;

  .i-arrow {
    transition: opacity 500ms;
    opacity: 0;
    transition-delay: 250ms;
  }

  .i-anycable-text {
    display: none;
    transition-delay: 250ms;
  }

  .i-question {
    transition: transform 400ms easeOutCubic;
  }

  .frame-1 &, .frame-4 &  {
    transform: translate(0, 1000px);
  }

  .frame-2 & {
    transform: translate(0, 280px);
  }

  .frame-3 & {
    transform: translate(0, 280px);

    & .i-ws-box {
      stroke: #363636;
    }

    & .i-ws-logo {
      fill: #f64242;
    }

    & .i-arrow {
      opacity: 1;
    }

    & .i-anycable-text {
      display: block;
    }

    & .i-question {
      transform: translateY(450px);
    }
  }
}
