.link {
  display: inline-flex;
  align-items: center;

  &--icon:first-child {
    margin-left: -5px;
    margin-right: 5px;
  }

  &--icon:last-child {
    margin-left: 5px;
    margin-right: -5px;
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    line-height: 1;
  }

  &--text {
    line-height: 1;
    margin-top: 3px;
  }
}
