@charset "utf-8";

@import "fonts.css";
@import "reset.css";
@import "vars.css";
@import "button.css";

@import "media.css";

html,
body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 450px;
}

body {
  background: #fff;
  color: $default-color;
  font: 18px/30px $default-font;
}

a {
  text-decoration: none;
  color: $red;

  &:visited,
  &:active {
    color: $red;
  }

  &:hover {
    opacity: 0.8;
  }
}

.small-text {
  font-size: 15px;
}

.caption {
  color: $grey-text;
  font-size: 14px;
  line-height: 18px;

  @media (--mobile) {
    & {
      font-size: 3vw;
    }
  }
}

h1 {
  font-size: 70px;
  line-height: 90px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: $headers-font;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1.5px;
  font-family: $headers-font;
  font-weight: bold;
}

h3 {
  font-weight: normal;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  font-family: $headers-font;
}

.main {
  height: 100%;
  width: 100%;
}

.mobile-only {
  display: none;
}

.grey-text {
  color: $grey-text;
}

.white-text {
  color: $white !important;
}

.no-desktop {
  display: none;
}

@media (--tablet) {
  .no-desktop {
    display: initial;
  }

  .no-tablet {
    display: none !important;
  }

  .desktop-only {
    display: none !important;
  }
}

@media (--mobile) {
  .no-mobile {
    display: none !important;
  }

  .no-desktop {
    display: initial;
  }

  body,
  h3 {
    font-size: 18px;
    line-height: 1.56;
  }

  h1 {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 1.8px;
    text-align: center;
  }

  h2 {
    font-size: 40px;
    line-height: 1.2;
  }

  h4 {
    font-size: 15px;
    line-height: 1.33;
  }

  .mobile-only {
    display: block;
  }

  .small-text {
    font-size: 15px;
    line-height: 1.6;
  }

  .desktop-only {
    display: none !important;
  }
}

@import "sprite.css";
@import "slide.css";
@import "footer.css";
@import "legal.css";
@import "blog.css";
