@charset "utf-8";

@import "fonts.css";
@import "reset.css";
@import "vars.css";
@import "new/button.css";

@custom-media --mobile (max-width: 800px);
@custom-media --tablet (max-width: 1080px);

@import "media.css";

html, body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 450px;
}

body {
  background: #fff;
  color: $default-color;
  font: 18px/30px $default-font;
}

a {
  text-decoration: none;
  color: $red;

  &:visited,
  &:active {
    color: $red;
  }

  &:hover {
    opacity: 0.8;
  }
}

.small-text {
  font-size: 15px;
}

.caption {
  color: $grey-text;
  font-size: 14px;
  line-height: 18px;

  @media (--mobile) {
    & {
      font-size: 3vw;
    }
  }
}

h1 {
  font-size: 70px;
  line-height: 90px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: $headers-font;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1.5px;
  font-family: $headers-font;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  font-family: $headers-font;
}

.main {
  height: 100%;
  width: 100%;
}

.mobile-only {
  display: none;
}

.grey-text {
  color: $grey-text;
}

.no-desktop {
  display: none;
}

@media (--tablet) {
  .no-desktop {
    display: initial;
  }

  .no-tablet {
    display: none !important;
  }
}

@media (--mobile) {
  .no-mobile {
    display: none !important;
  }

  .no-desktop {
    display: initial;
  }

  body {
    font-size: 4vw;
    line-height: 6vw;
  }

  h1 {
    font-size: 14vw;
    line-height: 18vw;
  }

  h2 {
    font-size: 10vw;
    line-height: 12vw;
  }

  h4 {
    font-size: 3vw;
  }

  .mobile-only {
    display:  block;
  }

  .small-text {
    font-size: 3vw;
  }

  .desktop-only {
    display: none !important;
  }
}

@import "new/sprite.css";
@import "new/slide.css";
@import "new/footer.css";
