.slide {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100%;

  &--item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 200px 60px 200px 60px;
    box-sizing: border-box;
    width: 50%;
    &:not(:first-child) {
      border-left: solid 0.5px $grey;
    }

    &.left {
      align-items: flex-end;
      padding: 200px 120px 200px 60px;
    }
  }

  &--text {
    margin: 36px 0;

    &.grey {
      color: $grey-text;
    }
  }
}

@media (max-width: 601px) {
  .slide {
    flex-direction: column-reverse;
    justify-content: flex-start;

    &--item {
      padding: 30px;
      width: auto;
      border: none;
      align-items: center;

      &.left {
        align-items: center;
        padding: 0 30px 30px 30px;
      }
    }

    &--image {
      text-align: center;
      svg {
        width: 70vw;
      }
    }
  }
}

@media (min-width: 600px) {
  .slide--item {
    padding-top: 30vh !important;
  }
}

@import "slides/chart.css";
