.slide {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;

  & h2 {
    letter-spacing: 0;
  }

  & h3 {
    font-weight: bold;
  }

  &.full {
    background: $white;
    z-index: 20;
    min-height: auto;
    border-top: 1px solid $grey;

    &.no-border {
      border-top: none;
    }

    @media (--mobile) {
      & {
        background: none;
      }
    }
  }

  &--title.red {
    padding-top: 0;
  }

  &.red {
    background-color: $red;
    padding-top: 80px;

    @media (--mobile) {
      & {
        padding-top: 0;
      }
    }

    a:not(.btn) {
      color: $yellow;

      &:hover {
        text-decoration: underline;
        opacity: inherit;
      }
    }
  }

  &--block {
    margin-top: 60px;

    @media (--mobile) {
      &.white {
        background: $white;
      }

      & {
        margin-top: 0;
      }
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 60px 0;
    box-sizing: border-box;
    width: 50%;
    background: $white;

    @media (--mobile) {
      & {
        background: none;
      }

      &.white {
        background: $white;
      }
    }

    &.has-feedback {
      padding-bottom: 0;
    }

    &.fullscreen {
      width: 100%;
      padding: 60px 25%;

      @media (--mobile) {
        & {
          padding: 0 10%;

          &.with-padding {
            padding: 24px 10%;

            h2 {
              padding: 0;
            }
          }
        }
      }
    }

    &.red {
      background-color: $red;
      color: $white;
      padding-bottom: 0;
    }

    &.try-it-now {
      padding-bottom: 0;
    }

    &.grey {
      background-color: $grey-bg;

      @media(--mobile) {
        background-color: $white;
      }
    }
  }

  &--content > * {
    padding: 0 60px;

    @media (--tablet) {
      & {
        padding: 0 60px;
      }
    }
  }

  &--pricing {
    background-color: rgba(78, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    font-family: $headers-font;
    padding: 24px 60px 20px;
    margin-top: 6px;

    @media (--tablet) {
      & {
        padding: 24px;
      }
    }

    &--header {
      display: grid;
      column-gap: 16px;
      grid-template-columns: minmax(min-content, 0.8fr) minmax(min-content, 1fr) minmax(min-content, 0.7fr);
      border-bottom: 1px solid $red;
      text-align: start;
      padding-bottom: 24px;

      @media (--desktop-large) {
        & {
          grid-template-columns: minmax(min-content, 0.5fr) minmax(min-content, 1fr) minmax(min-content, 0.5fr);
        }
      }

      @media (--tablet) {
        & {
          grid-template-columns: repeat(2, minmax(min-content, 1fr));
        }
      }

      &--title  {
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;

        @media (--tablet) {
          & {
            justify-self: end;
          }
        }

        &.mobile-hide {
          display: block;
          justify-self: start;
          @media (--tablet) {
            & {
              display: none;
            }
          }
        }

        &.mobile-show {
          display: none;
          justify-self: start;
          @media (--tablet) {
            & {
              display: block;
            }
          }
        }
      }
    }

    &--body {
      display: grid;
      grid-template-columns: minmax(min-content, 0.8fr) minmax(min-content, 1fr) minmax(min-content, 0.7fr);
      column-gap: 16px;
      row-gap: 24px;
      border-bottom: 1px solid $red;
      padding: 24px 0;

      @media (--desktop-large) {
        & {
          grid-template-columns: minmax(min-content, 0.5fr) minmax(min-content, 1fr) minmax(min-content, 0.5fr);
        }
      }

      @media (--tablet) {
        & {
          grid-template-columns: repeat(2, minmax(min-content, 1fr));
          row-gap: 0;
          padding-bottom: 0;
        }
      }

      &--item {
        line-height: 28px;

        &.first-column {
          @media (--tablet) {
            & {
              grid-column: 1/2;
            }
          }
          &.support {
            padding-bottom: 24px;
            font-size: 13px;
            line-height: 20px;
          }
        }

        &.second-column {
          @media (--tablet) {
            & {
              grid-column: 2/3;
              justify-self: end;
            }
            /* One of the solutions to the problem of price tag positioning is to use a unique class for each */
            &.price-1 {
              grid-row: 1;
            }
            &.price-2 {
              grid-row: 3;
            }
            &.price-3 {
              grid-row: 5;
            }
            &.price-4 {
              grid-row: 7;
            }
          }
        }
      }

      &--price {
        color: #ea1b1b;
        font-weight: 700;
        background-color: $white;
        padding: 2.5px 4.5px;
        border-radius: 5px;
        line-height: 28px;

      }
    }

    &--footer {
      padding: 24px 0;
    }
  }

  &--text {
    margin: 36px 0;
    line-height: 28px;

    &.grey {
      color: $grey-text;
    }

    &.red {
      margin: 24px 0 40px 0;
    }

    &.has-media {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &--text--media {
    flex-grow: 0;
    border-radius: 5px;

    &:first-child {
      margin-right: 24px;
    }

    &:last-child {
      margin-left: 24px;
    }

    & img {
      border-radius: 5px;
    }
  }

  &--text--video {
    text-align: center;
    margin-top: 18px;
    display: block;

    & video {
      border-radius: 5px;
    }
  }

  &--text--logo {
    & .logo {
      float: right;
      margin-left: 30px;

      @media (--mobile) {
        & {
          margin-left: 10px;

          img {
            width: 20vw;
            height: auto;
          }
        }
      }
    }
  }

  &--value {
    margin: 36px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    @media (--tablet) {
      & {
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    &--metrics {
      margin-left: 10px;
      text-align: center;

      @media (--tablet) {
        & {
          margin-bottom: 30px;
        }
      }
    }

    &--number {
      color: $red;
      font-size: 100px;
      font-weight: bold;
      line-height: 80px;

      @media (--tablet-strict) {
        & {
          font-size: 80px;
        }
      }

      &.huge {
        font-size: 150px;
        line-height: 110px;

        @media (--tablet-strict) {
          & {
            font-size: 110px;
            line-height: 100px;
          }
        }
      }
    }

    &--caption {
      text-align: center;
    }
  }

  &--btn {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;

    @media (--mobile) {
      & {
        margin-top: 40px;
        width: 100%;
        background: $white;
      }

      .btn {
        width: auto;
      }

      .btn:not(:first-child) {
        margin-left: 10px;
        flex: 1;
      }

      .btn:first-child:last-child {
        width: 100%;
      }
    }

    &.zero-margin {
      margin-top: 0;
    }

    .btn {
      height: 50px;
    }

    .btn:not(:first-child) {
      margin-left: 10px;
    }
  }

  &--code {
    margin: 36px 0;
    font-family: Roboto Mono, monospace;

    & .comment {
      color: $code-green;
    }

    & .string {
      color: $code-red;
    }
  }

  &--actions {
    position: absolute;
    bottom: 30px;
    display: flex;
    cursor: pointer;
    transition: opacity 200ms;

    &:hover,
    &:focus {
      opacity: 0.8;
      transition: none;
    }

    &.is-hidden {
      opacity: 0;
    }

    @media (--small-height), (--tablet) {
      & {
        display: none;
      }
    }
  }

  &--action-arrow {
    background: $dark-red;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-top: 2px;
    }
  }

  &--action-text {
    color: $grey-text;
    margin-left: 10px;
  }

  &--illustration {
    position: absolute;
    clip-path: inset(0);
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    display: grid;
    grid-auto-rows: 100%;
    align-content: center;
    width: calc(50vw - ((100vw - 100%)/2)); /* use viewport because of the fixed position (percentage could be incorrect); https://stackoverflow.com/a/34884924 */
    box-sizing: border-box;
    border-right: solid 1px $grey-text;

    &--sticky-container {
      position: relative;
      width: 100%;
      align-self: center;
      height: calc(100% + 679px);
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &--content {
      position: sticky;
      top: 20vh;
      height: 340px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      padding: 0 60px;
      transition: transform 50ms linear;
    }
  }
}

@media (--mobile) {
  .slide {
    min-height: 0;
    flex-direction: column-reverse;
    justify-content: flex-start;

    &.red {
      border-top: 40px solid $white;
    }

    &--content-bg {
      background-image: $fade_gradient_top;
    }
    
    &--item {
      width: auto;
      border: none;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;

      h2 {
        background-image: $fade_gradient_bottom;
        padding-top: 40px;

        &.with-images {
          margin: 0 -10vw;
          padding: 40px 10vw 0;
        }
      }

      &.red {
        & h2 {
          background-image: none;
        }
      }
    }

    &--text {
      margin: 20px 0;

      &.with-images {
        margin-bottom: 0;
        margin-top: 235px;
        padding-top: 15px;
        padding-bottom: 20px;
        background-image: $fade_gradient_top;
      }

      &.mb-0 {
        margin-bottom: 0;
      }
    }

    &--content > * {
      padding: 0 7.5%;
    }

    &--image {
      text-align: center;
      transform: translate(-20px);
      padding: 33px 0 48px 0;

      svg {
        width: 70vw;
      }
    }
  }
}

@import "./slides/main.css";
@import "./slides/nav.css";
@import "./slides/chart.css";
@import "./slides/features.css";
@import "./feedback.css";
@import "./slides/form.css";
@import "./slides/contacts.css";
@import "./slides/pro.css";
