.btn {
  cursor: pointer;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  background: $red;
  transition: opacity 200ms;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: none;
  }

  @media (hover: none) {
    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &:active {
    background: $dark-red;
  }

  &:visited,
  &:hover,
  &:active {
    color: white;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: #535050;
    opacity: 0.2;
    cursor: not-allowed;
  }

  &--icon {
    margin-right: 16px;
    margin-top: 6px;
  }

  @media (--mobile) {
    & {
      display: flex;
      justify-content: center;
      padding: 0 10px;
    }
  }
}
