.slide--feedback {
  background: $grey-bg;
  padding: 30px 120px 120px 60px;
  margin-top: 60px;

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &--logo {
    /* max-width: 50%; */
    /* height: auto; */
    margin-left: 10px;
  }

  &--body {
    margin: 10px 0 10px 0;
    position: relative;

    &.quote:before {
      content: "“";
      position: absolute;
      left: -30px;
      font-size: 50px;
      font-family: Stem;
    }
  }
}

@media (max-width: 600px) {
  .slide--feedback  {
    padding: 0 40px 90px 40px;
  }
}
