.slide--feedback {
  background: $grey-bg;
  padding: 30px 120px 120px 60px;
  margin-top: 60px;

  @media(--tablet) {
    & {
      padding: 30px 60px 60px 60px;
    }
  }

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &--logo {
    margin-left: 10px;

    @media (--tablet) {
      & {
        max-width: 50%;
        height: auto;
      }
    }
  }

  &--body {
    margin: 10px 0 10px 0;
    position: relative;

    &.quote:before {
      content: "“";
      position: absolute;
      left: -30px;
      font-size: 50px;
      font-family: Stem;
    }
  }
}

@media (--mobile) {
  .slide--feedback  {
    padding: 0 10% 90px 10%;
  }
}
