.footer {
  width: 100%;
  z-index: 20;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  background: $footer-bg;
  position: relative;
  overflow: hidden;

  h3 {
    color: $white;
    font-weight: normal;
  }

  &--block {
    color: $white;
    font-size: 14px;
    position: relative;

    &.legals {
      color: $grey-text;
    }
  }

  &--humanoids {
    position: absolute;
    bottom: -70px;
  }
}

.copyright {
  position: relative;

  &:before {
    content: '©';
    position: absolute;
    left: -20px;
    top: 0;
    line-height: 10px;
  }
}

@media (--mobile) {
  .footer {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 20px 30px;

    &--block {
      flex-basis: 50%;
      margin-bottom: 20px;

      h3,
      & {
        font-size: 15px;
        line-height: 1.87;
        font-weight: bold;
      }

      &.legals {
        align-self: center;
        margin-top: 0;
        flex-basis: 100%;
        font-size: 13px;
        line-height: 2.15;
        font-weight: normal;
      }
    }
  }

  .copyright {
    &:before {
      left: -5vw;
      line-height: 3vw;
    }
  }
}

@import "../humanoids.css";
