.slide {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;

  &.full {
    background: white;
    z-index: 20;
    min-height: auto;
  }

  &--block {
    margin-top: 60px;
  }

  &--item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 60px 0;
    box-sizing: border-box;
    width: 50%;

    &.has-feedback {
      padding-bottom: 0;
    }

    &.fullscreen {
      width: 100%;
      padding: 60px 25%;

      @media (max-width: 600px) {
        & {
          padding: 30px 10%;
        }
      }
    }
  }

  &--content > * {
    padding: 0 120px 0 60px;
  }

  &--text {
    margin: 36px 0;

    &.grey {
      color: $grey-text;
    }
  }

  &--text--logo {
    & .logo {
      float: right;
      transform: scale(1.5);
      margin-left: 30px;
  
      @media (max-width: 600px) {
        & {
          transform: scale(1);
          margin-left: 10px;
        }
      }
    }
  } 

  &--value {
    margin: 36px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &--metrics {
      margin-left: 10px;
    }

    &--number {
      color: $red;
      font-size: 100px;
      font-weight: bold;
      line-height: 80px;

      @media (max-width: 600px) {
        & {
          font-size: 80px;
        }
      }

      &.huge {
        font-size: 150px;
        line-height: 110px;

        @media (max-width: 600px) {
          & {
            font-size: 100px;
            line-height: 90px;
          }
        }
      }
    }

    &--caption {
      text-align: center;
    }
  }

  &--btn {
    margin-top: 60px;
    display: flex;

    &.zero-margin {
      margin-top: 0;
    }

    .btn {
      height: 50px;
    }

    .btn:not(:first-child) {
      margin-left: 10px;
    }
  }

  &--code {
    margin: 36px 0;
    font-family: Roboto Mono, monospace;

    & .comment {
      color: $code-green;
    }

    & .string {
      color: $code-red;
    }
  }

  &--actions {
    position: absolute;
    bottom: 30px;
    display: flex;
    cursor: pointer;
    transition: opacity 200ms;

    &:hover,
    &:focus {
      opacity: .8;
      transition: none;
    }

    &.is-hidden {
      opacity: 0;
    }
  }

  &--action-arrow {
    background: $dark-red;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-top: 2px;
    }
  }

  &--action-text {
    color: $grey-text;
    margin-left: 10px;
  }
}

@media (max-height: 600px), (max-width: 800px) {
  .slide {
    &--actions {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .slide {
    flex-direction: column-reverse;
    justify-content: flex-start;

    &--item {
      width: auto;
      border: none;
      align-items: center;
    }

    &--content > * {
      padding: 0 30px;
    }

    &--image {
      text-align: center;
      svg {
        width: 70vw;
      }
    }
  }
}

@media (min-width: 601px) {
  .slide--item {
    padding-top: 20vh !important;
  }
}

@import "./slides/main.css";
@import "./slides/nav.css";
@import "./slides/chart.css";
@import "./slides/features.css";
@import "./feedback.css";
@import "./slides/form.css";
@import "./slides/contacts.css";
