.illustration-new {
  transform: translate3d(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 50vw; /* use viewport because of the fixed position (percentage could be incorrect) */
  box-sizing: border-box;
  border-right: solid 1px $grey;

  &--content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 60px;

    @media (--except-mobile) {
      & {
        padding-top: 20vh !important;
      }
    }
  }
}

@keyframes cog-spin {
  100% { transform: rotate(360deg); }
}

@keyframes cog-spin-back {
  100% { transform: rotate(-360deg); }
}

@keyframes coin-throw {
  25% { transform: translate(100px, 83px); }

  50% {
    transform: translate(85px, 95px);
    opacity: 1;
  }

  51% { opacity: 0; }

  75% {
    transform: translate(110px, 83px);
    opacity: 0;
  }

  90% {
    transform: translate(100px, 83px);
    opacity: 1;
  }
}

@media (--tablet) {
  .illustration-new {
    &--content {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

@media (--mobile) {
  .illustration-new {
    width: 100vw; /* use viewport because of the fixed position (percentage could be incorrect) */
    border-right: none;

    &--content {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

.sprite {
  height: 100%;
  overflow: visible !important;

  @media (--mobile) {
    position: fixed;
    left: calc(-250px + 50%);
  }

  &-cog-frame {
    /* make it visibile to help positionining the cog within a cube */
    display: none;
  }

  &--logo {
    transition: transform 500ms easeOutCubic;
    transform: scale(2) translate(90px, 0);

    @media (--mobile) {
      transform: translate(210px, 20px);
    }

    .frame-2 & {
      transform: translate(210px, 0);

      @media (--mobile) {
        transform: translate(210px, 150px);
      }
    }

    .frame-3 & {
      transform: translate(210px, 249px);
    }

    .frame-3 &,
    .frame-4 & {
      &--leg {
        transition-delay: 200ms;
        opacity: 0;
      }
    }

    .frame-4 & {
      transform: translate(80px, 249px);

      @media (--mobile) {
        transition: none;
        transform: translate(110px, 249px);
      }
    }

    .frame-5 & {
      @media (--mobile) {
        transition: none;
        transform: translate(170px, 249px) scale(2);
      }
    }
  }

  &--go {
    transition: transform 500ms easeOutCubic;
    transform: translate(60px, 200vh);

    @media (--mobile) {
      transition: none;
    }

    &--cog {
      transform: translateX(-3px) translateY(34px) translateZ(49px) rotateY(60deg) rotateZ(-13deg) rotateX(10deg);

      &-big {
        transform-origin: 22px 22px;

        .frame-2 &,
        .frame-3 & {
          animation: cog-spin 800ms linear infinite;
        }
      }

      &-small {
        transform-origin: 45px 46px;

        .frame-2 &,
        .frame-3 & {
          animation: cog-spin-back 600ms linear infinite;
        }
      }
    }

    .frame-2 & {
      transform: translate(60px, 300px);
    }

    .frame-3 & {
      transition: opacity 300ms easeOutCubic;
      transform: translate(60px, 300px);
      opacity: 0.3;
    }
  }

  &--rails {
    transition: transform 500ms easeOutCubic;
    transform: translate(210px, 200vh);

    @media (--mobile) {
      transition: none;
    }

    &--text {
      display: none;

      .frame-2 &,
      .frame-3 & {
        display: block;
      }
    }

    &--premise {
      display: none;

      .frame-4 & {
        display: block;
      }
    }

    &--cog {
      transition: opacity 500ms easeOutCubic;
      transform: translateX(1px) translateY(36px) translateZ(49px) rotateY(60deg) rotateZ(-13deg) rotateX(10deg);
      opacity: 0;

      .frame-2 &,
      .frame-3 & {
        opacity: 1;
      }

      &-big {
        animation: cog-spin 4s linear infinite;
        transform-origin: 26px 26px;

        .frame-2 & {
          animation: cog-spin 4s linear infinite;
        }

        .frame-3 & {
          animation: cog-spin 500ms linear infinite;
          transform-origin: 26.5px 25.5px;
        }
      }
    }

    .frame-2 & {
      transform: translate(210px, 300px);
    }

    .frame-3 & {
      transform: translate(210px, 300px);
    }

    .frame-4 & {
      transform: translate(80px, 300px);

      @media (--mobile) {
        transform: translate(110px, 300px);
      }
    }
  }

  &--elixir {
    transition: transform 500ms easeOutCubic;
    transform: translate(360px, 200vh);

    @media (--mobile) {
      transition: none;
    }

    &--cog {
      transform: translateX(1px) translateY(18px) translateZ(50px) rotateY(60deg) rotateZ(14deg) rotateX(9deg) scaleX(1.55) scaleY(1.1);

      &-big {
        transform-origin: 38px 38px;

        .frame-2 &,
        .frame-3 & {
          animation: cog-spin 700ms linear infinite;
        }
      }
    }

    .frame-2 & {
      transform: translate(360px, 300px);
    }

    .frame-3 & {
      transition: opacity 300ms easeOutCubic;
      transform: translate(360px, 300px);
      opacity: 0.3;
    }
  }

  &--arrows {
    opacity: 0;
    transform: translate(168px, 138px);

    .frame-3 & {
      transition: opacity 500ms easeOutCubic;
      transition-delay: 400ms;
      opacity: 1;
    }
  }

  &--client {
    transition: transform 500ms easeOutCubic;
    transform: translate(320px, -200vh);

    .frame-3 & {
      transform: translate(320px, 96px);
    }
  }

  &--ws {
    transition: transform 500ms easeOutCubic;
    transform: translate(100px, -200vh);

    .frame-3 & {
      transform: translate(100px, 96px);
    }
  }

  &--cloud {
    transition: transform 400ms easeOutCubic;
    transform: translate(110vw, 200vw);
    opacity: 0;

    &--coin {
      transform: translate(100px, 83px);
      transition: transform 500ms easeOutCubic;
    }

    .frame-4 & {
      transform: translate(280px, 210px);
      opacity: 1;

      @media (--mobile) {
        transition: none;
        transform: translate(230px, 210px);
      }

      &--coin {
        animation: coin-throw 1500ms linear infinite;
      }
    }
  }

  &--vs {
    transform: translate(186px, 330px);
    opacity: 0;

    .frame-4 & {
      transition: opacity 500ms easeOutCubic;
      transition-delay: 400ms;
      opacity: 1;

      @media (--mobile) {
        transition: none;
        transform: translate(205px, 300px) scale(0.6);

        &--text {
          transform: translateY(50px);
        }
      }
    }
  }

  &--node--cog {
    display: none;
  }
}
