.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $grey-bg;

  @media (--mobile) {
    & {
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
    }
  }

  &--column {
    flex-basis: 40%;

    @media (--mobile) {
      & {
        width: 100%;
      }
    }
  }

  &--group {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    & p {
      padding: 5px 0;
    }

    & .logo {
      @media (--mobile) {
        & {
          text-align: center;
        }
      }

      svg {
        width: 50%;

        @media (--mobile) {
          & {
            width: 33%;
          }
        }
      }
    }
  }
}
