.features--title {
  font-weight: 700;
  font-family: $headers-font;
}

.features--list {
  margin-top: 20px;

  @media (--mobile) {
    & {
      margin-top: 305px;
      padding-top: 15px;
      background-image: $fade_gradient_top;
      padding-bottom: 20px;
    }

    .slide--item.red & {
      background-image: none;
    }

    #howitworks & {
      margin-top: 350px;
    }

    #pro & {
      margin-top: 0px;
    }

    #cloud & {
      margin-top: 230px;
    }
  }
}

.features--item {
  display: flex;
  margin-bottom: 24px;

  &.align-center {
    align-items: center;
  }

  &--bullet {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 30px;
    flex-shrink: 0;
    font-weight: bold;
    background: $red;
    color: $white;

    @media (--tablet) {
      & {
        /* width: 4vw;
        height: 4vw;
        line-height: 4vw; */
      }
    }
  }

  &--icon {
    margin-right: 20px;
    flex-shrink: 0;
    color: $white;
    line-height: 30px;
    max-height: 40px;

    & svg {
      height: 40px;
      width: 40px;
    }
  }
}

.features--footer {
  padding-bottom: 18px;
  display: inline-block;

  @media (--mobile) {
    & {
      padding-bottom: 0;
    }
  }
}
