.contact-form {
  padding: 0 !important;
  min-width: 70%;

  .initial-message {
    margin-top: 0;
  }

  .message {
    display: none;
    text-align: center;
  }

  .error {
    display: none;
    color: $red;
  }

  &.is-error {
    .error {
      display: block;
    }
  }

  &.is-submitted {
    .form {
      display: none;
    }

    .initial-message {
      display: none;
    }

    .message {
      display: block;

      .logo {
        margin: 20px 0;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &--controls {
    display: flex;
    margin-bottom: 20px;
  }

  &--control {
    & + & {
      margin-left: 10px;
    }

    &:first-child {
      flex-grow: 1;
    }

    &:last-child {
      margin-bottom: 0;
    }

    & input[type="text"], & textarea {
      width: 100%;
      border-radius: 5px;
      border: solid 0.5px #e1dfdf;
      background-color: white;
      padding: 12.5px 20px;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #b2b2b2;
      }
    }

    & input[type="text"] {
      height: 50px;

      &.is-valid {
        border-color: $green;
      }

      &.is-invalid {
        border-color: $red;
      }
    }

    & .btn {
      height: 50px;
      line-height: 56px;
    }
  }

  &--honeypot {
    position: absolute;
    left: -4000px;
  }
}
