.main-slide {
  &--title {
    display: inline;
    position: relative;

    &.alpha:after {
      content: url('/images/alpha.svg');
      position: absolute;
      top: -8px;
      right: -16px;
      line-height: 0;
    }
  }

  &--logo {
   width: 140px;
  }

  &--btn {
    position: absolute;
    left: 0;
  }

  &--actions {
    position: absolute;
    bottom: 30px;
    display: flex;
    cursor: pointer;
    transition: opacity 200ms;

    &:hover,
    &:focus {
      opacity: .8;
      transition: none;
    }
  }

  &--action-arrow {
    background: $dark-red;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-top: 2px;
    }
  }

  &--action-text {
    color: $grey-text;
    margin-left: 10px;
  }
}


@media (max-width: 601px) {
  .main-slide {
    flex-direction: column;

    &--item.left {
      padding-top: 30px;
    }

    &--actions {
      display: none;
    }
  }
}
