.main-slide {
  &--title {
    display: inline;
    position: relative;

    &.alpha:after {
      content: url('/images/alpha.svg');
      position: absolute;
      top: -8px;
      right: -16px;
      line-height: 0;
    }
  }

  &--text {
    margin-top: 10px;
    margin-bottom: 22px;
  }

  &--btn {
    position: absolute;
    left: 0;
  }
}

@media (max-width: 960px) and (min-width: 801px) {
  .main-slide {
    &--title {
      font-size: 7vw;
    }
  }
}

@media (max-width: 800px) and (min-width: 601px) {
  .main-slide {
    &--title {
      font-size: 6vw;
    }
  }
}

@media (max-width: 600px) {
  .main-slide {
    flex-direction: column;
    margin-bottom: 60px;

    &--logo svg {
      width: 40vw;
      padding: 10vw 0;
    }
  }
}
