.main-slide {
  &--title-container {
    display: flex;
    justify-content: flex-start;
  }

  &--title {
    display: inline;
    position: relative;
  }

  &--title-label {
    position: absolute;
    top: -3px;
    right: -40px;
    font-size: 20px;
    line-height: 1;
    text-transform: lowercase;
    letter-spacing: 0.86px;
    color: #ff2637;
  }

  &--text {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &--buttons {
    display: flex;
    flex-direction: column;
    max-width: 480px;
  }

  &--buttons-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  &--btn-cta {
    padding: 18px;
    background-color: $grey-bg;

    & .btn {
      margin-top: 18px;
    }
  }

  &--btn-cta.is-inverted {
    & .topnav--btn {
      background: $white;
      color: $red;
    }

    & .topnav--btn.secondary {
      background: $light-red;
      color: $white !important;
    }
  }
}

@media (max-width: 1320px) {
  .main-slide {
    &--buttons-secondary {
      align-items: flex-start;
      flex-wrap: wrap-reverse;
    }
  }
}

@media (--tablet-strict) {
  .main-slide {
    &--title {
      font-size: 6vw;
    }

    &--title-label {
      top: 0;
      font-size: 2vw;
    }
  }
}

@media (--mobile) {
  .main-slide {
    flex-direction: column;
    margin-top: 135px;
    background-image: $fade_gradient_top;

    &--item {
      margin-top: 0;
    }

    &--title-container {
      justify-content: center;
    }

    &--title {
      display: inline-block;
      margin-bottom: 7px;
      font-size: 48px;
    }

    &--text {
      margin-top: 13px;
      margin-bottom: 9px;
    }

    &--btn {
      left: auto;
      width: 100%;
      margin-top: 40px;
    }
  }
}

@media (--tablet-small) {
  .main-slide {
    min-height: 51vh;
    margin-top: 280px;

    &--title-container {
      justify-content: center;
    }

    &--title {
      font-size: 72px;
    }

    &--sub-title {
      font-size: 28px;
    }

    &--text {
      font-size: 20px;
    }

    &--btn {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
