.memory-chart {
  &--item {
    flex-grow: 1;
    flex-basis: 30%;
  }
}

.memory-figure {
  display: block;

  &.red {
    background: $dark-red;
  }

  &.light-red {
    background: $light-red;
  }

  &.green {
    background: $green;
  }

  &.orange {
    background: $orange;
  }
}