.topnav {
  position: fixed;
  top: -200px;
  opacity: 0;
  left: 0;
  right: 0;
  z-index: 30;
  display: flex;
  transition: top 200ms easeOutCubic;
  justify-content: space-between;
  padding: 60px 60px 0 60px;
  pointer-events: none;
  box-sizing: border-box;

  & > a {
    pointer-events: auto;
  }

  .is-bubbling & {
    top: 0;
    opacity: 1;
  }

  &--title {
    color: $red;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;

    .is-inverted & {
      color: $white;
    }
  }

  &--btn{
    letter-spacing: 1.21px;
  }

  &--btn + &--btn{
    margin-left: 10px;
  }
}

@media (max-width: 800px) and (min-width: 601px) {
  .topnav {
    left: 0;
  }
}
