.pro-badge {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;

  & a {
    cursor: pointer;
    display: inline-block;
    margin-top: -2px;
    transition: margin-top 200ms;

    &:hover {
      margin-top: 0;
    }
  }
}

#pro {
  z-index: 25;
}

.pro--price {
  background: var(--white);
  color: var(--red);
  border-radius: 2px;
  font-weight: bold;
  padding: 2px;

  &.old {
    color: var(--white);
    background: var(--light-red);
    position: relative;

    &::after {
      content:"";
      position: absolute;
      top:50%; left:-5%; width:110%; height:2px;
      background: var(--white);
      transform:rotate(-15deg);
    }
  }
}