<section class='slide about-slide'>
  <div class='about-slide__wrapper'>
    <div class='about-slide__content'>
      <h2 class='about-slide__title about-slide__title_type_with-padding'>
        Why AnyCable?
      </h2>
      <div class='about-slide__section'>
        <h3 class='about-slide__subtitle anim-trigger'>
          Better performance, lower costs
        </h3>
        <p class='about-slide__text'>
          AnyCable transforms your Rails application’s real-time performance,
          making it on par with Go, Elixir, and Node.js–based solutions so you
          can focus on implementing the business logic. Scale efficiently with
          AnyCable by leveraging its much lower RAM usage and better CPU
          utilization than Action Cable.
        </p>
        <div class='chart mobile-only'>
          <p class='chart__heading'>
            AnyCable Pro uses 4X less RAM compared to Action Cable while handling 20K
            connections
          </p>
          <div class='chart__columns'>
            <div class='chart__column'>
              <div class='chart__figure chart__figure_color_red'>
                <p class='chart__column-text chart__column-text_type_heading'>
                  AnyCable PRO
                </p>
              </div>
              <p class='chart__column-text chart__column-text_type_caption'>
                470 MB
              </p>
            </div>
            <div class='chart__column'>
              <div class='chart__figure chart__figure_color_orange'>
                <p class='chart__column-text chart__column-text_type_heading'>
                  AnyCable
                </p>
              </div>
              <p class='chart__column-text chart__column-text_type_caption'>
                720 MB
              </p>
            </div>
            <div class='chart__column'>
              <div class='chart__figure chart__figure_color_grey'>
                <p class='chart__column-text chart__column-text_type_heading'>
                  Action Cable
                </p>
              </div>
              <p class='chart__column-text chart__column-text_type_caption'>
                1.8 GB
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class='about-slide__section'>
        <h3 class='about-slide__subtitle'>Better real-time UX</h3>
        <p class='about-slide__text'>
          Real-time comes with its own problems and nuances, but when
          using AnyCable, you don't need to worry about any of those. When your
          clients go offline and re-connect, they will receive all the updates
          they missed.
        </p>
        <div class='chart mobile-only'>
          <p class='chart__heading'>
            One instance of AnyCable guarantees low broadcast latency for up to
            10K simultaneous connections
          </p>
          <img
            class='chart__img-chart'
            src='./images/real-time-chart.svg'
            alt='Real time chart'
          />
        </div>
      </div>
      <div class='about-slide__section about-slide__section_type_no-padding'>
        <h3
          class='about-slide__subtitle about-slide__subtitle_type_with-padding anim-trigger'
        >
          Control PaaS expenses
        </h3>
        <p class='about-slide__text about-slide__text_type_with-padding'>
          If you choose to use a real-time PaaS, as your business grows and
          serves more customers, expenses on this PaaS tend to explode. There is
          always a moment when you have to move off of PaaS to control the cost.
          With AnyCable, you don’t have to wait till then.
        </p>
        <div class='about-slide__section-image'>{{inline
            'images/illustration.svg'
          }}</div>
      </div>
      <div class='about-slide__section'>
        <h3 class='about-slide__subtitle'>Own your data</h3>
        <p class='about-slide__text'>
          Like with any data, being strategic when handling real-time data is
          super important. With AnyCable, you remain the owner: you store and
          access all the data directly, and you never send it to a 3rd-party.
          Simple and secure.
        </p>
      </div>
      <div class='about-slide__section about-slide__section_type_no-padding'>
        <h3
          class='about-slide__subtitle about-slide__subtitle_type_with-padding anim-trigger'
        >
          And it’s still Ruby
        </h3>
        <p class='about-slide__text about-slide__text_type_with-padding'>
          Write clean and maintainable Ruby code instead of piling up yet
          another 3rd-party integration. AnyCable plays nice with Rails and Hotwire, so you
          focus on shipping features without worrying about scale issues.
        </p>
        <a
          class='video-tip about-slide__video-tip link'
          href='https://www.youtube.com/watch?v=0XTfL-iVLw4&list=PLAgBW0XUpyOVFnpoS6FKDszd8WEvXzg-A'
          target='_blank'
        >
          <div class='video-tip__play-icon'></div>
          <img
            class='video-tip__preview'
            src='./images/video-tip-preview.jpg'
            alt='video tip preview image'
          />
          <p class='video-tip__description'>
            Build reactive Rails applications with Hotwire or StimulusReflex,
            and scale them efficiently with AnyCable
          </p>
        </a>
      </div>
    </div>
    <div class='about-slide__content about-slide__content_type_slide-show'>
      <div class='slide-show__header'></div>
      <div class='slide-show'>
        <div class='slide-show__frame anim-frame'>
          <div class='chart'>
            <p class='chart__heading'>
              AnyCable Pro uses 4X less RAM compared to Action Cable while handling
              20K connections
            </p>
            <div class='chart__columns'>
              <div class='chart__column'>
                <div class='chart__figure chart__figure_color_red'>
                  <p class='chart__column-text chart__column-text_type_heading'>
                    AnyCable PRO
                  </p>
                </div>
                <p class='chart__column-text chart__column-text_type_caption'>
                  470 MB
                </p>
              </div>
              <div class='chart__column'>
                <div class='chart__figure chart__figure_color_orange'>
                  <p class='chart__column-text chart__column-text_type_heading'>
                    AnyCable
                  </p>
                </div>
                <p class='chart__column-text chart__column-text_type_caption'>
                  720 MB
                </p>
              </div>
              <div class='chart__column'>
                <div class='chart__figure chart__figure_color_grey'>
                  <p class='chart__column-text chart__column-text_type_heading'>
                    Action Cable
                  </p>
                </div>
                <p class='chart__column-text chart__column-text_type_caption'>
                  1.8 GB
                </p>
              </div>
            </div>
            <br/>
            <p class='chart__heading'>
              One instance of AnyCable guarantees low broadcast latency for up
              to 10K simultaneous connections
            </p>
            <img
              class='chart__img-chart'
              src='./images/real-time-chart-wide.svg'
              alt='Real time chart'
            />
          </div>
        </div>
        <div class='slide-show__frame anim-frame'>{{inline
            'images/illustration.svg'
          }}</div>
        <div class='slide-show__frame anim-frame'>
          <img
            class='slide-show__img'
            src='./images/ruby-img-wide.svg'
            alt='Ruby code demo'
          />
        </div></div></div>
  </div>
</section>