<section class='slide about-slide'>
  <div class='about-slide__wrapper'>
    <div class='about-slide__section'>
      <div class='about-slide__content'>
        <h2 class='about-slide__title'>
          Why AnyCable?
        </h2>
        <h3 class='about-slide__subtitle'>
          Low-latency of realtime at scale
        </h3>
        <p class='about-slide__text'>
          If your product needs low latency interactivity, communication, or collaboration, AnyCable can be the perfect solution at any stage: start building with a managed (SaaS) version, and move on to the cost efficient Pro version, or move off to open source. AnyCable has been around for 7+ years, and it is powering large-scale applications around the world (see use cases).
        </p>
        <h3 class='about-slide__subtitle'>
          Reliable realtime delivery
        </h3>
        <p class='about-slide__text'>
          Most WebSocket solutions do not have delivery guarantees, but AnyCable automatically recovers any messages missed during micro connectivity issues, common even for stable connections, as well as longer ones that happen when users commute, ride a subway, etc. We solve all realtime-specific problems, so that you don’t have!
        </p>
      </div>
      <div class='about-slide__media about-slide__media-top demo__slide'>
        <div class='chart' data-controller='demo'>
          <p class='chart__heading'>
            The emulation below demonstrates how AnyCable handles connection failures and restores missed messages.
            You can try this feature yourself in our <a href='https://demo.anycable.io' target='_blank' rel='nofollow'>Demo application</a>.
          </p>
          <div class='demo'>
            <div class='demo__chat' data-demo-target='any'>
              <div class='demo__chat__header demo__chat__header_online'>
                <div class='demo__chat__user_details'>
                  <h3 class='demo__chat__username'>Alice</h3>
                  <span class='demo__chat__via'>via AnyCable</span>
                </div>
                <a class='demo__chat__status' href='javascript:void();'>online</a>
              </div>
              <div class='demo__chat__messages'>
                <form class='demo__chat__form'>
                  <input class='demo__chat__input' type='text' />
                </form>
              </div>
            </div>
            <div class='demo__chat' data-demo-target='action'>
              <div class='demo__chat__header demo__chat__header_online'>
                <div class='demo__chat__user_details'>
                  <h3 class='demo__chat__username'>Bob</h3>
                  <span class='demo__chat__via'>via Action Cable</span>
                </div>
                <a class='demo__chat__status' href='javascript:void();'>online</a>
              </div>
              <div class='demo__chat__messages'>
                <form class='demo__chat__form'>
                  <input class='demo__chat__input' type='text' />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='about-slide__section'>
      <div class='about-slide__content'>
        <h3
          class='about-slide__subtitle'
        >
          Managed, open source, or on-premise Pro
        </h3>
        <p class='about-slide__text'>
          We recommend to start tinkering with AnyCable in its SaaS form, but consider switching to the on premise Pro version later one. You can always switch to open source, which is, of course, free. In any case, no changes in code are needed to make a switch. Choose what’s best for you today.
        </p>
        <h3 class='about-slide__subtitle'>Secure and HIPAA compliant messaging</h3>
        <p class='about-slide__text'>
          Using on premise AnyCable, Pro and open source, you store all realtime data, such as chat messages, on your servers and never have to send it to a 3rd-party. Simple, secure and compliant with HIPAA.
        </p>
      </div>
      <div class='about-slide__media'>
        <div class='slide-show__frame'>{{inline
          'images/illustration.svg'
        }}</div>
      </div>
    </div>
    <div class='about-slide__section'>
      <div class='about-slide__content'>
        <h3 class='about-slide__subtitle'>Time-tested abstractions</h3>
        <p class='about-slide__text'>
          Write clean and maintainable code, leveraging clear abstractions: channels and subscriptions. Higher-level APIs like presence, collaboration: coming soon!
        </p>
        <div class='about-slide__arrow'>
          <svg width="171" height="20" viewBox="0 0 171 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M168 1H159C160.351 2.00994 161.217 2.84532 161.805 3.72314C162.441 4.67378 162.752 5.67419 163 7L168 1Z" fill="#F64343"/>
            <path d="M1 1C73.0118 31.8187 139.167 14.5697 168 1M168 1H159C161.814 3.10366 162.523 4.44994 163 7L168 1Z" stroke="#F64343" stroke-width="2"/>
          </svg>
        </div>
        <h3 class='about-slide__subtitle'>Reuse your existing infra components</h3>
        <p class='about-slide__text'>
          AnyCable doesn't require any additional infrastructure components for its operation and scalability: good old HTTP API and embedded NATS pub/sub server got you covered. And if you already have Redis or NATS, you can use it as well.
        </p>
      </div>
      <div class='about-slide__media about-slide__media-align-top' data-controller="tabs">
        <div class='about-slide__tabs'>
          <button data-tabs-target="code-pubsub" class='button about-slide__btn about-slide__btn-pubsub active-tab'>Pub/Sub</button>
          <button data-tabs-target="code-rb" class='button about-slide__btn about-slide__btn-ruby'>Ruby Channels</button>
          <button data-tabs-target="code-js" class='button about-slide__btn about-slide__btn-js'>JS Channels</button>
        </div>
        <div class='slide-show__frame' id="codes">
          <div data-tabs-id="code-pubsub" class='slide-show__code-wrapper'>
            <img
              class='slide-show__img'
              src='./images/pubsub.png'
              alt='Pub/Sub demo'
            />
          </div>
          <div data-tabs-id="code-rb" style="display:none" class='slide-show__code-wrapper'>
            <img
              class='slide-show__img'
              src='./images/ruby-channels.png'
              alt='Ruby channels code demo'
            />
          </div>
          <div data-tabs-id="code-js" style="display:none" class='slide-show__code-wrapper'>
            <img
              class='slide-show__img'
              src='./images/js-channels.png'
              alt='JS channels code demo'
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
