<section class='slide about-slide'>
  <div class='about-slide__wrapper'>
    <div class='about-slide__content'>
      <h2 class='about-slide__title about-slide__title_type_with-padding'>
        How It Works
      </h2>
      <div class='about-slide__section'>
        <h3 class='about-slide__subtitle anim-trigger'>
          Take a load off
        </h3>
        <p class='about-slide__text'>
          Realtime features like chats, collaboration, data streams, HTML-over-WebSockets require low latency and persistent connection between client and server, which is a burden for your main app. AnyCable is a Go application that stands next to your main app and takes the realtime load off of it. It scales horizontally and solves realtime-spefic issues like avoiding reconnection avalanches on deployments.
        </p>
        <div class='chart mobile-only'>
        </div>
      </div>
      <div class='about-slide__section'>
        <h3 class='about-slide__subtitle anim-trigger'>Delivery guarantees</h3>
        <p class='about-slide__text'>
          If you don't want to occasionally miss realtime updates–like chat messages or notifications–AnyCable is your choice. When a client experiences connectivity issues, which are very common on a micro scale, AnyCable restores not only the connection itself, but also any missed data. So you don't have to think about it.
        </p>
        <div class='chart mobile-only'>
        </div>
      </div>
      <div class='about-slide__section about-slide__section_type_no-padding'>
        <h3
          class='about-slide__subtitle about-slide__subtitle_type_with-padding anim-trigger'
        >Keep cost and data under control</h3>
        <p class='about-slide__text about-slide__text_type_with-padding'>
          As your business grows, expenses on PaaS tend to explode. With AnyCable, you always have a choice: start with a SaaS <a href="https://plus.anycable.io" target="_blank">AnyCable+</a> and switch to on premise, open source or commercial, whenever you want to. <br>
          With on premise AnyCable, all data is stored on your servers and is never sent to a 3rd-party. Simple and secure.
        </p>

        <div class='about-slide__section-image'>{{inline
            'images/illustration.svg'
          }}</div>
      </div>
      <div class='about-slide__section about-slide__section_type_no-padding'>
        <h3
          class='about-slide__subtitle about-slide__subtitle_type_with-padding anim-trigger'
        >
          <span class='about-slide__tabs'>
          <span>And it’s still</span>
          <button id="btn-rb" class='button about-slide__btn about-slide__btn-ruby' onclick="document.getElementById('code-rb').style.display = 'block'; document.getElementById('code-js').style.display = 'none'; document.getElementById('btn-rb').classList.remove('about-slide__btn-inactive'); document.getElementById('btn-js').classList.add('about-slide__btn-inactive')">Ruby</button>
          <button id="btn-js" class='button about-slide__btn about-slide__btn-inactive about-slide__btn-js' onclick="document.getElementById('code-rb').style.display = 'none'; document.getElementById('code-js').style.display = 'block'; document.getElementById('btn-js').classList.remove('about-slide__btn-inactive'); document.getElementById('btn-rb').classList.add('about-slide__btn-inactive')">JavaScript</button>
          </span>
        </h3>
        <p class='about-slide__text about-slide__text_type_with-padding'>
          Use tested abstactions: channels and subscriptions, and get out of the box reliability and delivery gurantees, when writing code with Rails, Next.js, and as any other JS/TS frameworks. For any Hotwire applications, AnyCable is a power-up that only requires a few changes in configuration.
        </p>
        <a
          class='video-tip about-slide__video-tip link'
          href='https://www.youtube.com/watch?v=0XTfL-iVLw4&list=PLAgBW0XUpyOVFnpoS6FKDszd8WEvXzg-A'
          target='_blank'
          data-ph-capture-attribute-link-id='anycasts-1'
        >
          <div class='video-tip__play-icon'></div>
          <img
            class='video-tip__preview'
            src='./images/video-tip-preview.jpg'
            alt='video tip preview image'
          />
          <p class='video-tip__description'>
            Build reactive Ruby on Rails applications with Hotwire,
            and scale them efficiently with AnyCable
          </p>
        </a>
      </div>
    </div>
    <div class='about-slide__content about-slide__content_type_slide-show'>
      <div class='slide-show__header'></div>
      <div class='slide-show'>
        <div class='slide-show__frame anim-frame'>

        </div>
        <div class='slide-show__frame anim-frame'>
          <div class='chart' data-controller='demo'>
            <p class='chart__heading'>
              The emulation below demonstrates how AnyCable handles connection failures and restores missed messages.
              You can try this feature yourself in our <a href='https://demo.anycable.io' target='_blank' rel='nofollow'>Demo application</a>.
            </p>
            <div class='demo'>
              <div class='demo__chat' data-demo-target='any'>
                <div class='demo__chat__header demo__chat__header_online'>
                  <div class='demo__chat__user_details'>
                    <h3 class='demo__chat__username'>Alice</h3>
                    <span class='demo__chat__via'>via AnyCable</span>
                  </div>
                  <a class='demo__chat__status' href='javascript:void();'>online</a>
                </div>
                <div class='demo__chat__messages'>
                  <form class='demo__chat__form'>
                    <input class='demo__chat__input' type='text' />
                  </form>
                </div>
              </div>
              <div class='demo__chat' data-demo-target='action'>
                <div class='demo__chat__header demo__chat__header_online'>
                  <div class='demo__chat__user_details'>
                    <h3 class='demo__chat__username'>Bob</h3>
                    <span class='demo__chat__via'>via Action Cable</span>
                  </div>
                  <a class='demo__chat__status' href='javascript:void();'>online</a>
                </div>
                <div class='demo__chat__messages'>
                  <form class='demo__chat__form'>
                    <input class='demo__chat__input' type='text' />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='slide-show__frame anim-frame'>{{inline
            'images/illustration.svg'
          }}</div>
        <div class='slide-show__frame anim-frame'>
          <img
            class='slide-show__img'
            id="code-rb"
            src='./images/ruby-img-wide.svg'
            alt='Ruby code demo'
          />
          <img
            class='slide-show__img'
            id="code-js"
            style="display:none"
            src='./images/js-img-wide.svg'
            alt='JS code demo'
          />
        </div>
      </div>
    </div>
  </div>
</section>
