<section class='slide cases-slide'>
  <div class='cases-slide__wrapper'>
    <div class='cases-slide__section'>
      <div class='cases-slide__media'>
        <div class='cases-slide__logos'>
          <img class='cases-slide__logo' src='./images/logos/healthie-text.png' alt='Healthie' width="200" />
          <img class='cases-slide__logo' src='./images/logos/joint-academy-text.png' alt='Joint Academy' width="250" />
        </div>
      </div>
      <div class='cases-slide__content'>
        <h3 class='cases-slide__pretitle'>Use cases</h3>
        <h2 class='cases-slide__title'>Secure chats for healthtech</h2>
        <div class='cases-slide__text'>
          <ul>
            <li>AnyCable is a HIPAA compliant and secure solution for messaging because it runs on premise, in your
              infrastructure.</li>
            <li>AnyCable serves some of the largest patient-doctor communication platforms in healthtech.</li>
            <li>AnyCable is used as a critical component in software saving lives potentially every second.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class='cases-slide__section'>
      <div class='cases-slide__content'>
        <h3 class='cases-slide__pretitle'>Use cases</h3>
        <h2 class='cases-slide__title'>Streaming AI responses</h2>
        <div class='cases-slide__text'>
          <strong>Faster AI responses, better UX, better retention</strong>
          <br/>
          <br/>
          <ul>
            <li>Customers like G2 use AnyCable to stream each syllable of AI-generated response in realtime.</li>
            <li>The faster users can access AI-generated response, the better their retention in the product.</li>
          </ul>
        </div>
      </div>
      <div class='cases-slide__media'>
        <div class='cases-slide__logos'>
          <img class='cases-slide__logo' src='./images/logos/canfy.png' alt='Canfy' width="200" />
        </div>
      </div>
    </div>
    <div class='cases-slide__section'>
      <div class='cases-slide__media'>
        <div class='cases-slide__logos'>
          <img class='cases-slide__logo' src='./images/logos/circle.png' alt='Circle' width="148" />
          <img class='cases-slide__logo' src='./images/logos/live-voice.png' alt='LiveVoice' width="120" />
          <img class='cases-slide__logo' src='./images/logos/welcome.png' alt='Welcome' width="200" />
          <img class='cases-slide__logo' src='./images/logos/vito.png' alt='Vito' width="60" />
          <img class='cases-slide__logo' src='./images/logos/callbell-text.png' alt='Callbell' width="190" />
        </div>
      </div>
      <div class='cases-slide__content'>
        <h3 class='cases-slide__pretitle'>Use cases</h3>
        <h2 class='cases-slide__title'>Realtime-heavy apps</h2>
        <div class='cases-slide__text'>
          <ul>
            <li>Scalable chats and updates for platforms powering online events.</li>
            <li>Scalable and cost-efficient infrastructure for real-time messaging: SaaS expenses grow uncomfortably as your product grows, but the cost of AnyCable Pro license does not.</li>
            <li>AnyCable is both performant and cost-efficient for applications that are big on realtime: notifications, updates, communication and collaboration.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class='cases-slide__section'>
      <div class='cases-slide__content'>
        <h3 class='cases-slide__pretitle'>Use cases</h3>
        <h2 class='cases-slide__title'>Voice processing and IoT data</h2>
        <div class='cases-slide__text'>
          <ul>
            <li>Process voice streaming APIs, like Twilio Media Streams, in Go. Read more.</li>
            <li>Stream GPS coordinates and EV charging data. AnyCable supports OCPP protocol.</li>
          </ul>
        </div>
      </div>
      <div class='cases-slide__media'>
        <div class='cases-slide__logos'>
          <img class='cases-slide__logo' src='./images/logos/sera-text.png' alt='Sera' width="150" />
        </div>
      </div>
    </div>
    <div class='cases-slide__section'>
      <div class='cases-slide__media'>
        <div class='cases-slide__logos'>
          <img class='cases-slide__logo' src='./images/logos/poll-everywhere.png' alt='Poll Everywhere' width="300" />
          <img class='cases-slide__logo' src='./images/logos/clickfunnels.png' alt='ClickFunnels' width="350" />
        </div>
      </div>
      <div class='cases-slide__content'>
        <h3 class='cases-slide__pretitle'>Use cases</h3>
        <h2 class='cases-slide__title'>Hotwire at scale</h2>
        <div class='cases-slide__text'>
          <ul>
            <li>AnyCable acts as a performance power-up for apps with HTML-over-the-wire frontends out-of-the-box.</li>
            <li>Binary compression (Pro feature) ensures additional speed and performance benefits.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
