<section class='slide main-slide'>
  <div class='main-slide__content-wrapper'>
    <div class='main-slide__left-content'>
      {{inline 'images/logo.svg'}}
    </div>
    <div class='main-slide__right-content'>
      <a
        class='main-slide__github-link'
        data-ph-capture-attribute-link-id='github'
        href='https://github.com/anycable/anycable'
        target='_blank'
      >
        {{inline 'images/github-logo.svg'}}
      </a>
      <h1 class='main-slide__title' id='pro'>AnyCable</h1>
      <p class='main-slide__subtitle'>
        Realtime server for reliable two-way communication.
      </p>
      <div class='main-slide__text'>
        <p>
          Comes in different flavors: open source, managed, on-premise Pro.
        </p>
        <p>
          Plays nice with Rails, JavaScript/TypeScript, and <strong>any</strong> backend.
        </p>
      </p>
      <div class='main-slide__footer'>
        <div class='try-now'>
          <p class='try-now__caption'>
            Start a 
            <span class='try-now__caption try-now__caption_bolded'>free trial</span>
            of SaaS, or on premise Pro
          </p>
          <a href="https://plus.anycable.io/pro" target="_blank" class='button button_size_big try-now__button' data-ph-capture-attribute-link-id='try-pro-now'>
            Sign up
          </a>
        </div>
        <button class='main-slide__learn-more-btn' data-ph-capture-attribute-link-id='learn-more'></button>
      </div>
    </div>
  </div>
</section>
