<section class='slide main-slide'>
  <div class='main-slide__content-wrapper'>
    <div class='main-slide__left-content'>
      {{inline 'images/logo.svg'}}
    </div>
    <div class='main-slide__right-content'>
      <h1 class='main-slide__title' id='pro'>AnyCable</h1>
      <p class='main-slide__subtitle'>
        Bidirectional real-time updates with delivery guarantees. <br>
        Loved by heathtech, chat-heavy and realtime-heavy apps.<br>
        Available as open source, SaaS, and commercial on premise. 
      </p>
      <p class='main-slide__text'>
        Works with any JS, TS, Ruby, Rails, Hotwire apps.
      </p>
      <div class='main-slide__text main-slide__banner'>
        <p class="main-slide__banner_title">New</p>
        <p>Check out <a href="https://plus.anycable.io" target="_blank">AnyCable+</a>, our software-as-a-<strong>quick</strong>-service offering for those who want to get started quickly and don't want to manage infrastructure.</p>
      </div>
      <div class='try-now'>
        <p class='try-now__caption'>
          Start your
          <span class='try-now__caption try-now__caption_bolded'>free 2-month
            trial</span>
          of AnyCable Pro.
        </p>
        <button class='button button_size_big try-now__button try-now-btn' data-ph-capture-attribute-link-id='try-pro-now'>
          Launch
        </button>
      </div>
      <button class='main-slide__learn-more-btn' data-ph-capture-attribute-link-id='learn-more'></button>
    </div>
  </div>
</section>
