<section class='slide main-slide'>
  <div class='main-slide__content-wrapper'>
    <div class='main-slide__left-content'>
      {{inline 'images/logo.svg'}}
    </div>
    <div class='main-slide__right-content'>
      <a
        class='main-slide__github-link'
        data-ph-capture-attribute-link-id='github'
        href='https://github.com/anycable/anycable'
        target='_blank'
      >
        {{inline 'images/github-logo.svg'}}
      </a>
      <h1 class='main-slide__title' id='pro'>AnyCable</h1>
      <p class='main-slide__subtitle'>
        A real-time server for Rails, JavaScript, and Hotwire applications that runs on your servers and scales.
      </p>
      <p class='main-slide__text'>
        Build chats, real-time updates, GPS trackers, collaborative text editors, and other real-time features. Own the data, scale efficiently, and write maintainable code.
      </p>
      <div class='try-now'>
        <p class='try-now__caption'>
          Start your
          <span class='try-now__caption try-now__caption_bolded'>free 2-month
            trial</span>
          of AnyCable Pro today
        </p>
        <button class='button button_size_big try-now__button try-now-btn' data-ph-capture-attribute-link-id='try-pro-now'>
          Try PRO now
        </button>
      </div>
      <button class='main-slide__learn-more-btn' data-ph-capture-attribute-link-id='learn-more'></button>
    </div>
  </div>
</section>
