<section class='slide main-slide'>
  <div class='main-slide__content-wrapper'>
    <div class='main-slide__left-content'>
      {{inline 'images/logo.svg'}}
    </div>
    <div class='main-slide__right-content'>
      <h1 class='main-slide__title' id='pro'>AnyCable</h1>
      <p class='main-slide__subtitle'>
        Bidirectional realtime updates with delivery guarantees.
        
      </p>
      <p class='main-slide__text'>
        Choose from: open source, SaaS, and on premise Pro version.<br>
        Supports: JS/TS/Ruby/Rails backends, plus any Hotwire apps.
      </p>
      <div class='try-now'>
        <p class='try-now__caption'>
          Start a 
          <span class='try-now__caption try-now__caption_bolded'>free trial</span>
           of SaaS, or Pro:
        </p>
        <button class='button button_size_big try-now__button try-now-btn' data-ph-capture-attribute-link-id='try-pro-now'>
          Sign up with GitHub
        </button>
      </div>
      <button class='main-slide__learn-more-btn' data-ph-capture-attribute-link-id='learn-more'></button>
    </div>
  </div>
</section>
