<section class='slide main-slide'>
  <div class='main-slide__content-wrapper'>
    <div class='main-slide__left-content'>
      {{inline 'images/logo.svg'}}
    </div>
    <div class='main-slide__right-content'>
      <a
        class='main-slide__github-link'
        data-ph-capture-attribute-link-id='github'
        href='https://github.com/anycable/anycable'
        target='_blank'
      >
        {{inline 'images/github-logo.svg'}}
      </a>
      <h1 class='main-slide__title' id='pro'>AnyCable</h1>
      <p class='main-slide__subtitle'>
        Real-time server that takes care of connectivity, consistency and scaling.
      </p>
      <p class='main-slide__text'>
        Built for Rails, Ruby, Hotwire and NextJS apps. Runs on Heroku, Fly, Render, Hatchbox, AWS, GCP, Cloud Run and bare metal.
      </p>
      <div class="main-slide__text">
        <ol>
          <li class="main-slide__list-item">Communication</li>
          <li class="main-slide__list-item">Collaborative, real-time UI</li>
          <li class="main-slide__list-item">GPS tracking&amp;IoT</li>
          <li class="main-slide__list-item">Live events</li>
        </ol>
      </div>
      <div class='try-now'>
        <p class='try-now__caption'>
          <span class='try-now__caption try-now__caption_bolded'>Start a 2-month free trial.</span>
        </p>
        <button class='button button_size_big try-now__button try-now-btn' data-ph-capture-attribute-link-id='try-pro-now'>
          Sign up
        </button>
      </div>
      <button class='main-slide__learn-more-btn' data-ph-capture-attribute-link-id='learn-more'></button>
    </div>
  </div>
</section>
