<section class='slide plans-slide'>
  <div class='slide__title-wrapper'>
    <h2 class='slide__title plans-slide__title'>Plans</h2>
  </div>
  <div class='splide'>
    <div class='splide__track'>
      <ul class='splide__list plans-slide__content'>
        <li class='splide__slide plan-card'>
          <div class='plan-card__icon plan-card__icon_type_open-source'></div>
          <h3 class='plan-card__title'>Open-<br />source</h3>
          <p class='plan-card__text'>
            AnyCable is open source. It is an important part of Rails ecosystem
            and will remain so. Key open-source features include support for
            Rails Hotwire and StimulusReflex frontends–with AnyCable you are
            certain that they work fast and scale efficiently.
          </p>
          <div class='plan-card__action-wrapper'>
            <p class='plan-card__text'>
              <span
                class='plan-card__text-accent plan-card__text-accent_type_big'
              >Free</span>
            </p>
            <a
              class='link button button_variant_outlined'
              href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
              target='_blank'
            >
              Learn more
            </a>
          </div>
        </li>
        <li class='splide__slide plan-card'>
          <div class='plan-card__icon plan-card__icon_type_pro-basic'></div>
          <h3 class='plan-card__title'>Pro <br />Basic</h3>
          <div>
            <p class='plan-card__text'>
              AnyCable Pro Basic is even
              <span class='plan-card__text-accent'>more memory efficient</span>.
            </p>
            <p class='plan-card__text'>It also features:</p>
            <ul class='plan-card__list'>
              <li>Apollo GraphQL compatibility</li>
              <li>Binary communication protocols</li>
              <li>Priority support on GitHub</li>
            </ul>
          </div>
          <div class='plan-card__action-wrapper'>
            <p class='plan-card__text'>
              <span
                class='plan-card__text-accent plan-card__text-accent_type_big'
              >$590</span>
              per year Unlimited&nbsp;instances
            </p>
            <button class='button try-now-btn'>
              Try now
            </button>
          </div>
        </li>
        <li class='splide__slide plan-card plan-card_highlighted'>
          <div class='plan-card__icon plan-card__icon_type_pro-standard'></div>
          <h3 class='plan-card__title plan-card__title_inverted'>
            Pro
            <br />Standard
          </h3>
          <p class='plan-card__text plan-card__text_inverted'>
            AnyCable Pro Standard has all the benefits of Pro Basic, and also
            includes dedicated
            <span class='plan-card__text-accent'>Slack support</span>.
          </p>
          <div class='plan-card__action-wrapper'>
            <p class='plan-card__text plan-card__text_inverted'>
              <span
                class='plan-card__text-accent plan-card__text-accent_type_big'
              >$1,490</span>
              per year Unlimited&nbsp;instances
            </p>
            <button class='button button_inverted try-now-btn'>
              Try now
            </button>
          </div>
        </li>
        <li class='splide__slide plan-card'>
          <div class='plan-card__icon plan-card__icon_type_custom'></div>
          <h3 class='plan-card__title'>Custom <br />solutions</h3>
          <p class='plan-card__text'>
            As part of Evil Martians, we are experts in building real-time
            functionality for our clients. We set up infrastructure, bring tools
            and best practices, and train your team.
          </p>
          <div class='plan-card__action-wrapper'>
            <p class='plan-card__text'>
              <span
                class='plan-card__text-accent plan-card__text-accent_type_big'
              >Price on request</span>
              <span
                class='plan-card__contact-text'
              >anycable@evilmartians.com</span>
            </p>
            <button class='button contact-us-btn'>
              Contact us
            </button>
          </div>
        </li>
      </ul></div>
  </div>
  <p class='plans-slide__action-text'>
    Start your
    <span class='plans-slide__highlighted-text'>free 2-month trial</span>
    of AnyCable&nbsp;Pro today
  </p>
</section>