<section class='slide resources-slide'>
  <div class='slide__title-wrapper'>
    <h2 class='slide__title'>Resources</h2>
  </div>
  <div
    class='resources-slide__content resources-slide__content_place_resources'
  >
    <div
      class='resources-slide__section resources-slide__section_type_case-studies'
    >
      <p class='resources-slide__heading'>Case Studies</p>
      <ul class='case-studies'>
        <li class='case-studies__study case-studies__study_color_blue'>
          <a
            class='link case-studies__study-link'
            href='/case-studies/healthie'
          >
            <img
              src='./images/healthie-r-logo.svg'
              class='case-studies__study-logo'
              alt='Healthie-r logo'
            />
            <div class='case-studies__study-content'>
              <p
                class='case-studies__study-date case-studies__study-date_color_dark'
              >
                January 20, 2022
              </p>
              <p
                class='case-studies__study-title case-studies__study-title_color_purple'
              >
                Making a chat’s real-time functionality Healthie-r with
                AnyCable&nbsp;Pro
              </p>
            </div>
          </a>
        </li>
        <li class='case-studies__study case-studies__study_color_midnight'>
          <a
            class='link case-studies__study-link'
            href='/case-studies/vito'
          ><img
              src='./images/revitalizing-vito-logo.svg'
              class='case-studies__study-logo'
              alt='Revitalizing Vito logo'
            />
            <div class='case-studies__study-content'>
              <p class='case-studies__study-date'>January 20, 2022</p>
              <p
                class='case-studies__study-title case-studies__study-title_color_pink'
              >
                Revitalizing Vito with AnyCable&nbsp;Pro
              </p>
            </div>
          </a>
        </li>
        <li class='case-studies__study case-studies__study_color_mint'>
          <a
            class='link case-studies__study-link'
            href='/case-studies/callbell'
          ><img
              src='./images/a-call-for-pro-logo.svg'
              class='case-studies__study-logo'
              alt='A call for Pro logo'
            />
            <div class='case-studies__study-content'>
              <p class='case-studies__study-date'>August 3, 2021</p>
              <p class='case-studies__study-title'>
                A call for Pro: Callbell
              </p>
            </div></a>
        </li>
      </ul>
    </div>
    <div class='resources-slide__section resources-slide__section_type_docs'>
      <p class='resources-slide__heading'>Docs</p>
      <ul class='docs'>
        <li class='docs__item docs__item_position_first'>
          <a
            class='link docs__link'
            href='https://docs.anycable.io/pro?id=installation'
            target='_blank'
          >
            <img
              src='./images/Installation-icon.svg'
              class='docs__icon'
              alt='Instalation icon'
            />
            <p class='docs__title'>Instalation</p>
          </a>
        </li>
        <li class='docs__item docs__item_position_second'>
          <a
            class='link docs__link'
            href='https://docs.anycable.io/rails/getting_started'
            target='_blank'
          >
            <img
              src='./images/rails-icon.svg'
              class='docs__icon'
              alt='Rails icon'
            />
            <p class='docs__title'>Getting started with Rails</p>
          </a>
        </li>
        <li class='docs__item docs__item_position_third'>
          <a
            class='link docs__link'
            href='https://docs.anycable.io/rails/hotwire'
            target='_blank'
          >
            <img
              src='./images/hotwire-icon.svg'
              class='docs__icon'
              alt='Hotwire icon'
            />
            <p class='docs__title'>Using with Hotwire</p>
          </a>
        </li>
        <li class='docs__item docs__item_position_fourth'>
          <a
            class='link docs__link'
            href='https://docs.anycable.io'
            target='_blank'
          >
            <p class='docs__title docs__title_type_with-arrow'>
              All docs
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div
      class='resources-slide__section resources-slide__section_type_learn-more'
    >
      <p class='resources-slide__heading'>Learn more</p>
      <ul class='list-box'>
        <li class='list-box__item'>
          Check
          <a class='link list-box__link' href='/blog'>our blog</a>
          for new posts on building real-time functionality.
        </li>
        <li class='list-box__item'>
          Check the
          <a
            class='link list-box__link'
            href='https://demo.anycable.io/'
            target='_blank'
          >demo app</a>, and its
          <a
            class='link list-box__link'
            href='https://github.com/anycable/anycable_rails_demo'
            target='_blank'
          >repo</a>.
        </li>
        <li class='list-box__item'>
          Watch
          <a
            class='link list-box__link'
            href='https://www.youtube.com/playlist?list=PLAgBW0XUpyOVFnpoS6FKDszd8WEvXzg-A'
            target='_blank'
          >screencast</a>
          on YouTube.
        </li>
        <li class='list-box__item'>
          Watch the RailConf 2022 talk
          <a
            class='link list-box__link'
            href='https://www.youtube.com/watch?v=TgpSs2ffJL0'
            target='_blank'
          >“The pitfalls of realtime-ification”</a>.
        </li>
      </ul>
    </div>
    <div class='resources-slide__section resources-slide__section_type_videos'>
      <div class='videos'>
        <a
          class='link videos__item'
          href="{{youtube "TUHL5jb9jBo" "video"}}"
          target='_blank'
        >
          <img
            class='videos__image'
            src="{{youtube "TUHL5jb9jBo" "thumbnail"}}"
            alt='AnyCast Ep. 7 video screenshot'
          />
          <div class='videos__overlay'>
            <p class='videos__title'>AnyCast Ep. 7</p>
          </div>
        </a>
        <a
          class='link videos__item'
          href='https://www.youtube.com/watch?v=TgpSs2ffJL0'
          target='_blank'
        >
          <img
            class='videos__image'
            src='./images/railsConf-video-screenshot.jpg'
            alt='RailsConf 2022 video screenshot'
          />
          <div class='videos__overlay'>
            <p class='videos__title'>
              RailsConf 2022 - The pitfalls of realtime-ification
            </p>
          </div>
        </a>
      </div>
    </div>
    <div
      class='resources-slide__section resources-slide__section_type_community'
    >
      <p class='resources-slide__heading'>Community</p>
      <ul class='list-box'>
        <li class='list-box__item'>
          Join the discussion on
          <a
            class='link list-box__icon-link list-box__icon-link_type_discord'
            href='https://discord.gg/stimulus-reflex'
            target='_blank'
          >Discord</a>
        </li>
        <li class='list-box__item'>
          Sign up for the
          <a
            class='link list-box__icon-link list-box__icon-link_type_newsletter'
            href='https://anycable.substack.com/'
            target='_blank'
          >Any Cables newsletter</a>
        </li>
        <li class='list-box__item'>
          Add a request, report an issue, and contribute on
          <a
            class='link list-box__icon-link list-box__icon-link_type_github'
            href='https://github.com/anycable/anycable'
            target='_blank'
          >GitHub</a>
        </li>
        <li class='list-box__item'>
          Make sure you follow us on
          <a
            class='link list-box__icon-link list-box__icon-link_type_twitter'
            href='https://twitter.com/any_cable'
            target='_blank'
          >Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</section>
