<section class='slide cases-slide' id="resources">
  <div class='cases-slide__wrapper'>

    {{!-- Docs --}}
    <div class='cases-slide__section cases-slide__section-mobile-reverse'>
      <div class='cases-slide__media'>
        <div class='resource-cards'>
          <a href='https://docs.anycable.io/rails/getting_started' target='_blank' class='resource-card' data-ph-capture-attribute-link-id='docs-rails'>
            <img src='./images/rails-icon.svg' class='resource-card__icon' alt='Rails' />
            <span class='resource-card__title'>Getting started with Rails</span>
          </a>
          <a href='https://docs.anycable.io/guides/laravel' target='_blank' class='resource-card' data-ph-capture-attribute-link-id='docs-laravel'>
            <img src='./images/laravel-icon.svg' class='resource-card__icon' alt='Laravel' />
            <span class='resource-card__title'>Using with Laravel</span>
          </a>
          <a href='https://docs.anycable.io/guides/serverless' target='_blank' class='resource-card' data-ph-capture-attribute-link-id='docs-js'>
            <img src='./images/js-icon.svg' class='resource-card__icon' alt='JavaScript' />
            <span class='resource-card__title'>Using with JavaScript</span>
          </a>
          <a href='https://docs.anycable.io/guides/hotwire' target='_blank' class='resource-card' data-ph-capture-attribute-link-id='docs-hotwire'>
            <img src='./images/hotwire-icon.svg' class='resource-card__icon' alt='Hotwire' />
            <span class='resource-card__title'>Using with Hotwire</span>
          </a>
          <a href='https://docs.anycable.io' target='_blank' class='resource-card resource-card_all' data-ph-capture-attribute-link-id='docs-all'>
            <span class='resource-card__title'>All docs</span>
          </a>
        </div>
      </div>
      <div class='cases-slide__content'>
        <h3 class='cases-slide__pretitle'>Resources</h3>
        <h2 class='cases-slide__title'>Documentation</h2>
        <div class='cases-slide__text'>
          <ul>
            <li>Works with Rails, Laravel, JavaScript, and any backend via HTTP API.</li>
            <li>Deploy with Docker, Kubernetes, Heroku, Fly.io, or as a standalone binary.</li>
            <li>Comprehensive guides for every integration.</li>
          </ul>
        </div>
      </div>
    </div>

    {{!-- Talks --}}
    <div class='cases-slide__section'>
      <div class='cases-slide__content'>
        <h3 class='cases-slide__pretitle'>Resources</h3>
        <h2 class='cases-slide__title'>Talks & Videos</h2>
        <div class='cases-slide__text'>
          <ul>
            <li>Conference talks, screencasts, and deep dives on real-time architecture.</li>
            <li>Learn from AnyCable users and maintainers.</li>
          </ul>
          <br />
          <a class="link" href="https://www.youtube.com/watch?v=4n1SxfK0Uqg&list=PLAgBW0XUpyOVFnpoS6FKDszd8WEvXzg-A" target="_blank" data-ph-capture-attribute-link-id='screencasts-all'>All screencasts on YouTube</a>
        </div>
      </div>
      <div class='cases-slide__media'>
        <div class='video-cards'>
          <a href="{{youtube "4n1SxfK0Uqg" "video"}}" target='_blank' class='video-card' data-ph-capture-attribute-link-id='video-v14'>
            <img class='video-card__thumb' src="{{youtube "4n1SxfK0Uqg" "thumbnail"}}" alt='AnyCable v1.4 screencast' />
            <div class='video-card__overlay'>
              <div class='video-card__play'></div>
              <p class='video-card__title'>AnyCable v1.4: reliable real-time for all</p>
              <p class='video-card__speaker'>Vladimir Dementyev</p>
            </div>
          </a>
          <a href='https://www.youtube.com/watch?v=7WJFTvgnmWA&t=1083s' target='_blank' class='video-card' data-ph-capture-attribute-link-id='video-evolution'>
            <img class='video-card__thumb' src="{{youtube "7WJFTvgnmWA" "thumbnail"}}" alt='Rocky Mountain Ruby 2024' />
            <div class='video-card__overlay'>
              <div class='video-card__play'></div>
              <p class='video-card__title'>Evolution of Real-Time, AnyCable Pro and... me</p>
              <p class='video-card__speaker'>Irina Nazarova — Rocky Mountain Ruby 2024</p>
            </div>
          </a>
          <a href='https://www.youtube.com/watch?v=J68QOBLEItY' target='_blank' class='video-card' data-ph-capture-attribute-link-id='video-collab'>
            <img class='video-card__thumb' src="{{youtube "J68QOBLEItY" "thumbnail"}}" alt='SF Ruby 2025' />
            <div class='video-card__overlay'>
              <div class='video-card__play'></div>
              <p class='video-card__title'>Real-time collaboration with AnyCable and Yjs</p>
              <p class='video-card__speaker'>JP Camara (Wealthbox) — SF Ruby 2025</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    {{!-- Newsletter & Community --}}
    <div class='cases-slide__section cases-slide__section-mobile-reverse'>
      <div class='cases-slide__media'>
        <div class='cases-slide__companies'>
          <a href="https://blog.anycable.io/p/any-cables-33-durable-at-once" target="_blank" class="cases-slide__company-card" data-ph-capture-attribute-link-id="newsletter-33">
            <span class="cases-slide__company-name">Any Cables #33: Durable at Once</span>
            <span class="cases-slide__company-desc">Feb 2026</span>
          </a>
          <a href="https://blog.anycable.io/p/any-cables-32-2025-is-over" target="_blank" class="cases-slide__company-card" data-ph-capture-attribute-link-id="newsletter-32">
            <span class="cases-slide__company-name">Any Cables #32: 2025 is over</span>
            <span class="cases-slide__company-desc">Dec 2025</span>
          </a>
          <a href="https://blog.anycable.io/p/any-cables-monthly-31-whyjs" target="_blank" class="cases-slide__company-card" data-ph-capture-attribute-link-id="newsletter-31">
            <span class="cases-slide__company-name">Any Cables #31: Why.js?</span>
            <span class="cases-slide__company-desc">Oct 2025</span>
          </a>
          <a href="https://blog.anycable.io/p/building-bridges-announcing-anycable" target="_blank" class="cases-slide__company-card" data-ph-capture-attribute-link-id="newsletter-laravel">
            <span class="cases-slide__company-name">Announcing AnyCable for Laravel</span>
            <span class="cases-slide__company-desc">Jun 2025</span>
          </a>
          <a href="https://blog.anycable.io" target="_blank" class="cases-slide__company-card cases-slide__company-card_cta" data-ph-capture-attribute-link-id="newsletter-all">
            <span class="cases-slide__company-name">All issues & subscribe</span>
            <span class="cases-slide__company-desc">Monthly updates on AnyCable and real-time</span>
          </a>
        </div>
      </div>
      <div class='cases-slide__content'>
        <h3 class='cases-slide__pretitle'>Resources</h3>
        <h2 class='cases-slide__title'>Newsletter & Community</h2>
        <div class='cases-slide__text'>
          <ul>
            <li><a class='link' href='https://blog.anycable.io' target='_blank'>Subscribe to our newsletter</a> — monthly releases, tips, and case studies.</li>
            <li>Follow on <a class='link' href='https://twitter.com/any_cable' target='_blank'>X (Twitter)</a>.</li>
            <li>Submit issues on <a class='link' href='https://github.com/anycable/anycable' target='_blank'>GitHub</a>.</li>
          </ul>
          <br />
          <a class="link" href="https://github.com/anycable/slide-quiz" target="_blank" data-ph-capture-attribute-link-id="slide-quiz">Try Slide Quiz</a> — live polls for Sli.dev and Reveal.js web presentations powered by AnyCable
        </div>
      </div>
    </div>

  </div>
</section>
