<section class='slide trusted-slide'>
  <div class='slide__title-wrapper'>
    <h2 class='slide__title about-slide__title_type_with-padding'>Trusted by</h2>
  </div>
  <div class="trusted-slide__list">
    <img
      class='trusted-slide__logo'
      src='./images/logos/live-voice.png'
      alt='LiveVoice'
    />
    <img
      class='trusted-slide__logo'
      src='./images/logos/sera.png'
      alt='Sera'
    />
    <img
      class='trusted-slide__logo'
      src='./images/logos/poll-everywhere.png'
      alt='Poll Everywhere'
    />
    <img
      class='trusted-slide__logo'
      src='./images/logos/welcome.png'
      alt='Welcome'
    />
    <img
      class='trusted-slide__logo'
      src='./images/logos/callbell.png'
      alt='Callbell'
    />
    <img
      class='trusted-slide__logo'
      src='./images/logos/circle.png'
      alt='Circle'
    />
    <img
      class='trusted-slide__logo'
      src='./images/logos/vito.png'
      alt='Vito'
    />
  </div>
</section>
