.slide.full
  .slide--item.fullscreen.contacts
    .contacts--column
      .contacts--group
        p
          strong Or just shoot us an email
        p
          a(href="mailto:anycable@evilmartians.com") anycable@evilmartians.com
      .contacts--group.desktop-only
        .logo
          include /images/em.svg
    .contacts--column
      .contacts--group
        p
          strong Or call us
        p
          | +1 888 400 5485
      .contacts--group
        p
          strong Or visit our offices
        p
          | 195 Montague St.
          br
          | Brooklyn, NY 11201
        p
          | 156 2nd St.
          br
          | San Francisco, CA 94105
