.footer
  .footer--block
    h3 Project
    p.footer--list--item
      a(href="/") Website
    p.footer--list--item
      a(href="https://github.com/anycable") GitHub
    p.footer--list--item
      a(href="https://rubygems.org/gems/anycable") RubyGems
    p.footer--list--item
      a(href="https://hub.docker.com/u/anycable") DockerHub

  .footer--block
    h3 Community
    p.footer--list--item
      a(href="https://gitter.im/anycable/Lobby") Gitter
    p.footer--list--item
      a(href="https://twitter.com/any_cable") Twitter

  .footer--block
    h3 Resources
    p.footer--list--item
      a(href="https://docs.anycable.io") Documentation
    p.footer--list--item
      a(href="https://docs.anycable.io/#/?id=talks") Talks
    p.footer--list--item
      a(href="https://docs.anycable.io/#/?id=blog-posts") Blog Posts

  .footer--block.legals
    p
      span.copyright 2017&ndash;2019&nbsp;
      a(href="https://twitter.com/palkan_tula") Vlad Dem 
      | & 
      a(href="https://evilmartians.com") Evil Martians
    p
      | Released under the 
      a(href="https://opensource.org/licenses/MIT") MIT license

    p
      | Website by 
      a(href="https://twitter.com/antiflasher") Anton Lovchikov

    .footer--humanoids
      include /layout/humanoids
