.slide
  .slide--item#getting-started
    .slide--content.js-animation-hook(data-frame="frame-4")
      h2 How to start?
      .slide--text
        | AnyCable is an open-source software, you can start using it today!
      .slide--text
        a(href="https://docs.anycable.io", target="_blank") 📖 Documentation
      h2 Commercial Support
      .slide--text
        a(href="https://evilmartians.com", target="_blank") Evil Martians 
        | team would be glad to help you in building high-performant real-time applications on top of AnyCable.
        br
        br
        | Fill the form below, describe what real-time features you want to build, and we will help to make it real!
