.slide.full
  .slide--item.fullscreen.contact-form
    form.contact-form.form
      .form--control
        input(type="text", name="email", placeholder="Your email or phone number")
      .form--control
        textarea(name="about", cols="30", rows="4", placeholder="Who are you and what do you do?")
      .form--control
        textarea(name="request", cols="30", rows="4", placeholder="What is you product and what do you want to build?")
      .form--control
        button.btn(type="submit", disabled) SEND
