.slide.full
  .slide--item.fullscreen.js-animation-hook(data-frame="frame-5")
    .slide--block#getting-started
      h2 Try it now
      .slide--text.with-images
        | AnyCable is free and open source software. The source code is available on GitHub,
        | and we do have an extensible documentation and a vibrant user community. Try it now!
      .slide--btn.zero-margin
        a.btn.gtm-link(href="https://github.com/anycable", target="_blank", data-gtm-category="landingButton", data-gtm-action="gitHub6")
          span.btn--icon
            include /images/github.svg
          span GITHUB
        a.btn.gtm-link(href="https://docs.anycable.io/#/using_with_rails", target="_blank", data-gtm-category="landingButton", data-gtm-action="docs6")
          span GETTING STARTED
    .slide--block.white
      h2 Custom Solutions
      .slide--text
        | AnyCable development is backed by&nbsp;
        a(href="https://evilmartians.com", target="_blank") Evil Martians
        | , a product development consultancy with more than 10 years of experience in building successful Ruby applications—with popular gems and Rails commits to back it up.
      .slide--text
        | For our clients all over the world, AnyCable is what we use by default to add real-time features to their Rails applications.
      .slide--text
        | We can help you with building real-time features for your application, providing support for AnyCable, building a custom solution on top of AnyCable or even modifying AnyCable itself.
      .slide--text
        | Let’s have a chat to see if we can be of help.
