.slide#howitworks
  .slide--item.has-feedback
    .slide--content.js-animation-hook(data-frame="frame-3")
      h2
        | How it works
      br
      .features--list
        .features--item
          .features--item--bullet 1
          .features--item--text
            | Seamlessly integrates with the existing Ruby on Rails and Action Cable application—or a pure Ruby application.
        .features--item
          .features--item--bullet 2
          .features--item--text
            | Uses gRPC to connect it to the high-performance AnyCable server to handle hundreds and thousands of WebSocket connections.
        .features--item
          .features--item--bullet 3
          .features--item--text
            | Your Ruby code stays the same—except that you don’t have to worry about its real-time performance anymore!
    include ../feedback/anycable
