.slide#realtime
  .slide--item.has-feedback
    .slide--content.js-animation-hook(data-frame="frame-4")
      h2
        | Beneficially On Premise
      br
      .features--list
        .features--item
          .features--item--bullet 1
          .features--item--text
            | Open source server.
        .features--item
          .features--item--bullet 2
          .features--item--text
            | It is easy to install AnyCable in your application cluster—in public or private cloud or on bare metal.
        .features--item
          .features--item--bullet 3
          .features--item--text
            | You don’t have to pay for an external service and be limited by its pricing. Don’t make your application a hostage of a Software as a Service pricing plan.
        .features--item
          .features--item--bullet 4
          .features--item--text
            | You can be sure that the software has precisely the features that you need and none you don’t. With AnyCable, you have no message or channel-specific limits, no throttling, and it is possible to implement guaranteed message delivery.
        .features--item
          .features--item--bullet 5
          .features--item--text
            | With no third parties involved, there is no added networking latency, and everything can be completely secure.
        .features--item
          .features--item--bullet 6
          .features--item--text
            | You are in full control over all the features and upgrades.
    include ../feedback/ebay
