.slide#whyanycable
    .slide--item.white
      .slide--content
        h2 Why AnyCable?
        br
        h3 Reduce Infrastructure Costs
        .slide--text
          | AnyCable is dramatically more efficient in RAM and CPU usage in comparison with Rails’ Action Cable out if the box. 
          | It brings your Rails application’s real-time performance on par with Go, Elixir and Node-based, solutions—while you don’t have to 
          | implement anything from scratch and can focus on implementing business logic instead.
        .slide--text
          | AnyCable is here to make your application resilient during peak loads and make your real-time features scale without spending a fortune on infrastructure.
        .slide--value
          .slide--value--text
            | Scale more efficiently with AnyCable due to the much lower RAM usage and better CPU utilization.
          .slide--value--metrics
            .slide--value--number 4.5
            .slide--value--caption.caption times lower RAM usage

        .caption Handling 20K connections
        .slide--chart.memory-chart
          .slide--chart--item.memory-chart--item
            .slide--chart--caption.red AnyCable
            .memory-figure.red(style="height:4vh")
            .slide--chart--caption.caption 798 MB
          .slide--chart--item.memory-chart--item
            .slide--chart--caption.orange Action Cable
            .memory-figure.orange(style="height:20vh")
            .slide--chart--caption.caption 3,5 GB
        br
        h3 Better Real-Time Experience
        .slide--text
          | Real-time user experience is the battleground today. With AnyCable you win continuously as your app scales. 
        .slide--text
          | With wait times more than a second or two, you can no longer call your application “real-time”. 
          | With AnyCable, this is no longer a problem.

        .slide--value
          .slide--value--text
            | AnyCable optimizes messaging broadcasting to provide very low latency: 
            | users no longer have to wait seconds to learn that something has happened. 
          .slide--value--metrics
            .slide--value--number.huge 10
            .slide--value--caption.caption times faster response

        .caption Broadcast latency depending on the number of connections
        .slide--chart
          .slide--chart--item
            img(src="/images/latency-chart.png", alt="Latency chart")
        br
        h3 Additional Features
        .slide--text
          | AnyCable provides features missing in Action Cable out of the box, 
          | but are required for many production installations, including analytics, 
          | Prometheus integration, disconnect-less deployments with Envoy, non-Rails applications support, and more.
        .slide--text
          | Moreover, it is designed to be easily extendable, and we are ready to tune and expand AnyCable to fit your needs.
        .slide--btn
          a.btn.js-scroll-link.gtm-link(data-target="#getting-started", data-gtm-category="landingButton", data-gtm-action="customSolution4")
            span CUSTOM SOLUTIONS
