extends /layout/new

block content
  include ./slides/illustration
  include ./slides/main
  include ./slides/realtime
  include ./slides/howitworks
  include ./slides/anycable
  include ./slides/form
  include ./slides/footer
