<header class='blog-header'>
  <nav class='blog-header__content'>
    <a class='link blog-header__link' href='{{coalesce backLink "/blog"}}'>
      <span class='blog-header__link-icon'>
        {{inline 'images/arrow-left.svg'}}
      </span>{{coalesce backLinkLabel 'Other Posts'}}</a>
    <button class='button try-now-btn'>Try it now</button>
  </nav>
</header>