<main class='content content_type_blog'>
  <section class='blog'>
    <h1 class='blog__title'>Articles</h1>
    <div class='blog__content'>
      <div class='blog__section'>
        <h2 class='blog__section-title'>Engineering</h2>
        <ul class='blog__articles'>
          {{> blog_article date='March 24, 2023' video-icon=true title='Flying multi-regionally with NATS' link="/anycasts/flying-multi-regionally-with-nats"}}
          {{> blog_article date='March 21, 2023' em-icon=true title='AnyCable off Rails: connecting Twilio streams with Hanami' link="https://evilmartians.com/chronicles/anycable-goes-off-rails-connecting-twilio-streams-with-hanami"}}
          {{> blog_article date='September 6, 2022' video-icon=true title='Learn to Fly.io with AnyCable' link="/anycasts/learn-to-fly-io-with-anycable"}}
          {{> blog_article date='July 19, 2022' video-icon=true title='Turbo Streams vs. consistency' link="/anycasts/railsconf-2022-turbo-streams-consistency"}}
          {{> blog_article date='July 5, 2022' title='Multi-tenancy vs. Cables: Introducing Action Cable command callbacks' link="/blog/multi-tenancy-vs-cables"}}
          {{> blog_article date='May 10, 2022' video-icon=true title='Using anycable-client to auto-refresh tokens' link="/blog/anycasts-using-anycable-client"}}
          {{> blog_article date='April 5, 2022' video-icon=true title='Of users and direct messaging (pt. 2)' link="/blog/anycasts-direct-messaging-part-2"}}
          {{> blog_article date='February 16, 2022' video-icon=true title='Of users and direct messaging (pt. 1)' link="/blog/anycasts-direct-messaging-part-1"}}
          {{> blog_article date='December 22, 2021' video-icon=true title='Exploring Rails 7, Hotwire and AnyCable speedy streams' link="/blog/anycasts-rails-7-hotwire-and-anycable"}}
          {{> blog_article date='September 29, 2021' title='AnyCable v1.2: JWT identification and "hot streams"' link="/blog/jwt-identification-and-hot-streams"}}
          {{> blog_article date='September 07, 2021' em-icon=true title='Real-time stress: AnyCable, k6, WebSockets, and Yabeda' link="https://evilmartians.com/chronicles/real-time-stress-anycable-k6-websockets-and-yabeda"}}
          {{> blog_article date='July 28, 2021' em-icon=true title='Introducing JavaScript and TypeScript client for AnyCable' link="https://evilmartians.com/chronicles/introducing-anycable-javascript-and-typescript-client"}}
          {{> blog_article date='June 16, 2021' em-icon=true title='AnyCable Goes Pro: Fast WebSockets for Ruby, at scale' link="https://evilmartians.com/chronicles/anycable-goes-pro-fast-websockets-for-ruby-at-scale"}}
        </ul>
      </div>
      <div class='blog__section'>
        <h2 class='blog__section-title'>Use Cases</h2>
        <ul class='case-studies'>
          <li class='case-studies__study case-studies__study_color_royal-blue'>
            <a
              class='link case-studies__study-link'
              href='https://evilmartians.com/chronicles/real-time-magic-no-elixirs-optimizing-sera-with-anycable'
              target='_blank'
            >
              <img
                src='./images/sera-logo.png'
                class='case-studies__study-logo'
                alt='Sera logo'
              />
              <div class='case-studies__study-content'>
                <p class='case-studies__study-date'>March 1, 2023</p>
                <p
                  class='case-studies__study-title case-studies__study-title_color_white'
                >
                  Real-time magic, no elixirs: optimizing Sera with AnyCable
                </p>
              </div>
            </a>
          </li>
          <li class='case-studies__study case-studies__study_color_blue'>
            <a
              class='link case-studies__study-link'
              href='/case-studies/healthie'
            >
              <img
                src='./images/healthie-r-logo.svg'
                class='case-studies__study-logo'
                alt='Healthie-r logo'
              />
              <div class='case-studies__study-content'>
                <p
                  class='case-studies__study-date case-studies__study-date_color_dark'
                >
                  January 20, 2022
                </p>
                <p
                  class='case-studies__study-title case-studies__study-title_color_purple'
                >
                  Making a chat’s real-time functionality Healthie-r with
                  AnyCable&nbsp;Pro
                </p>
              </div>
            </a>
          </li>
          <li class='case-studies__study case-studies__study_color_midnight'>
            <a
              class='link case-studies__study-link'
              href='/case-studies/vito'
            ><img
                src='./images/revitalizing-vito-logo.svg'
                class='case-studies__study-logo'
                alt='Revitalizing Vito logo'
              />
              <div class='case-studies__study-content'>
                <p class='case-studies__study-date'>January 20, 2022</p>
                <p
                  class='case-studies__study-title case-studies__study-title_color_pink'
                >
                  Revitalizing Vito with AnyCable&nbsp;Pro
                </p>
              </div>
            </a>
          </li>
          <li class='case-studies__study case-studies__study_color_mint'>
            <a
              class='link case-studies__study-link'
              href='/case-studies/callbell'
            ><img
                src='./images/a-call-for-pro-logo.svg'
                class='case-studies__study-logo'
                alt='A call for Pro logo'
              />
              <div class='case-studies__study-content'>
                <p class='case-studies__study-date'>August 3, 2021</p>
                <p class='case-studies__study-title'>
                  A call for Pro: Callbell
                </p>
              </div></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>