<head>
  <title>{{ coalesce pageTitle 'AnyCable: build lightning fast, reliable real-time applications with Ruby and Rails' }}</title>
  <meta name="viewport" content="width=device-width"/>
  <meta charset="UTF-8"/>
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>

  {{> gtm_head }}
  {{> meta }}
  {{> schemaorg }}
</head>
