<head>
  <title>{{coalesce
      pageTitle
      'AnyCable: realtime server for reliable two-way communication'
    }}</title>
  <meta name='viewport' content='width=device-width viewport-fit=cover' />
  <meta charset='UTF-8' />
  <meta http-equiv='Permissions-Policy' content='interest-cohort=()' />
    <meta
    name='theme-color'
    content='#fff'
    media='(prefers-color-scheme: light)'
  />
  <meta
    name='theme-color'
    content='#fff'
    media='(prefers-color-scheme: dark)'
  />
  {{> analytics }}
  {{> meta }}
  {{> schemaorg }}
</head>
