<footer class='footer'>
  <div class='footer__columns'>
    <div class='footer__column footer__column_content_downloads'>
      <h3 class='footer__column-heading'>Downloads</h3>
      <nav class='footer__navigation'>
        <ul class='footer__column-links'>
          <li class='footer__list-item'>
            <a
              href='https://github.com/anycable/anycable'
              class='link'
              target='_blank'
            >GitHub</a>
          </li>
          <li class='footer__list-item'>
            <a
              href='https://rubygems.org/gems/anycable'
              class='link'
              target='_blank'
            >RubyGems</a>
          </li>
          <li class='footer__list-item'>
            <a
              href='https://hub.docker.com/u/anycable'
              class='link'
              target='_blank'
            >DockerHub</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class='footer__column footer__column_content_resources'>
      <h3 class='footer__column-heading'>Resources</h3>
      <nav class='footer__navigation'>
        <ul class='footer__column-links'>
          <li class='footer__list-item'>
            <a
              href='https://docs.anycable.io/'
              class='link'
              target='_blank'
            >Documentation</a>
          </li>
          <li class='footer__list-item'>
            <a
              href='https://github.com/anycable/anycable_rails_demo'
              class='link'
              target='_blank'
            >Demo App</a>
          </li>
          <li class='footer__list-item'>
            <a href='/blog' class='link'>Blog</a>
          </li>
          <li class='footer__list-item'>
            <a
              href='https://www.youtube.com/playlist?list=PLAgBW0XUpyOVFnpoS6FKDszd8WEvXzg-A'
              class='link'
              target='_blank'
            >Screencasts
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class='footer__column footer__column_content_community'>
      <h3 class='footer__column-heading'>Community</h3>
      <nav class='footer__navigation'>
        <ul class='footer__column-links'>
          <li class='footer__list-item'>
            <a
              href='https://youtu.be/dQw4w9WgXcQ'
              class='link'
              target='_blank'
            >Discord</a>
          </li>
          <li class='footer__list-item'>
            <a
              href='https://youtu.be/dQw4w9WgXcQ'
              class='link'
              target='_blank'
            >Newsletter</a>
          </li>
          <li class='footer__list-item'>
            <a
              href='https://twitter.com/any_cable'
              class='link'
              target='_blank'
            >Twitter</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class='footer__column footer__column_content_legals'>
      <p class='footer__legal footer__legal_type_copyright'>
        2022
        <a
          class='link'
          href='https://twitter.com/palkan_tula'
          target='_blank'
        >Vladimir Dementyev&nbsp;</a>&amp;&nbsp;<a
          class='link'
          href='https://evilmartians.com/'
        >Evil Martians</a>
      </p>
      <p class='footer__legal'>
        Released under the
        <a
          class='link'
          href='https://opensource.org/licenses/MIT'
          target='_blank'
        >MIT License</a>
      </p>
      <p class='footer__legal'>
        Website by
        <a
          class='link'
          href='https://twitter.com/antiflasher'
          target='_blank'
        >Anton Lovchikov</a>
      </p>
      {{> humanoids }}
    </div>
  </div>
</footer>