<header class='header'>
  <nav class='header__content'>
    <p class='header__logo'>AnyCable</p>
    <button class='button sign-up-btn' data-ph-capture-attribute-link-id='go-pro'>Go PRO</button>
  </nav>
</header>