<header class='header'>
  <nav class='header__content'>
    <p class='header__logo'>AnyCable</p>
    <a href="https://plus.anycable.io/pro" target="_blank" class="button" data-ph-capture-attribute-link-id='go-pro'>Sign up</a>
  </nav>
</header>
