<header class='header'>
  <nav class='header__content'>
    <div class='header__left'>
      <a href="/" class='header__logo'>AnyCable</a>
      <div class='header__links no-mobile'>
        <a href="/#features" class="header__link plausible-event-name=Navigation plausible-event-link=nav-features" data-ph-capture-attribute-link-id="nav-features">Features</a>
        <a href="/#customers" class="header__link plausible-event-name=Navigation plausible-event-link=nav-customers" data-ph-capture-attribute-link-id="nav-customers">Customers</a>
        <a href="/#pricing" class="header__link plausible-event-name=Navigation plausible-event-link=nav-pricing" data-ph-capture-attribute-link-id="nav-pricing">Pricing</a>
        <a href="https://docs.anycable.io" target="_blank" class="header__link plausible-event-name=Navigation plausible-event-link=nav-docs" data-ph-capture-attribute-link-id="nav-docs">Docs</a>
        <a href="/#resources" class="header__link plausible-event-name=Navigation plausible-event-link=nav-resources" data-ph-capture-attribute-link-id="nav-resources">Resources</a>
      </div>
    </div>
    <div class='header__right'>
      <a class='header__stars plausible-event-name=Navigation plausible-event-link=nav-github' href="https://github.com/anycable/anycable" target="_blank" data-ph-capture-attribute-link-id="nav-github">
        {{inline 'images/github.svg'}}
        <span class='header__stars__count' id="gh-stars-counter">1.9K</span>
      </a>
      <a href="https://plus.anycable.io/pro" target="_blank" class="button plausible-event-name=Signup plausible-event-location=header" data-ph-capture-attribute-link-id='go-pro'>Sign up</a>
    </div>
  </nav>
</header>
