<div class='popup {{coalesce popupClass "try-now-popup"}}'>
  <div class='popup__container'>
    {{!-- <h2 class='popup__title'>{{coalesce popupTitle 'AnyCable PRO is just few steps away'}}</h2> --}}
    <button
      class='popup__close-btn'
      type='button'
      aria-label='Close'
    ></button>
    <iframe
      class='popup__iframe'
      src='{{coalesce typeformLink "https://form.typeform.com/to/BwBcZmdQ"}}'
    ></iframe>
  </div>
</div>
