extends ./layout/base

block content
  include ./slides/illustration
  include ./slides/main
  include ./slides/realtime
  include ./slides/howitworks
  include ./slides/whyanycable
  include ./slides/pro
  include ./slides/opensource
  include ./slides/gettingstarted
  include ./slides/form
  include ./slides/contacts
  include ./slides/footer
