extends ./layout/base

block content
  include ./slides/illustration
  include ./slides/main
  include ./slides/action-cable
  include ./slides/anycable
  include ./slides/howto
  include ./slides/footer
