@import url(./vendor/reset.scss);
@import url(./vendor/fonts.css);
@import './blog/styles/main.scss'; //old blog styles
@import './modules/veriables.scss';
@import './modules/mixins.scss';
@import './modules/blocks/link.scss';
@import './modules/blocks/page.scss';
@import './modules/blocks/header.scss';
@import './modules/blocks/content.scss';
@import './modules/blocks/slide.scss';
@import './modules/blocks/main-slide.scss';
@import './modules/blocks/try-now.scss';
@import './modules/blocks/button.scss';
@import './modules/blocks/footer.scss';
@import './modules/blocks/about-slide.scss';
@import './modules/blocks/video-tip.scss';
@import './modules/blocks/chart.scss';
@import './modules/blocks/illustration.scss';
@import './modules/blocks/plans-slide.scss';
@import './modules/blocks/plan-card.scss';
@import './modules/blocks/resources-slide.scss';
@import './modules/blocks/case-studies.scss';
@import './modules/blocks/docs.scss';
@import './modules/blocks/list-box.scss';
@import './modules/blocks/videos.scss';
@import './modules/blocks/popup.scss';
@import './modules/blocks/blog.scss';
@import './modules/blocks/blog-header.scss';
@import './modules/common.scss';
