h1 AnyCable Pro End-User License Agreement

p.
  This software end-user license agreement ("EULA") is a legal agreement ("Agreement") between you (the customer, either
  as an individual or, if purchased or otherwise acquired by or for an entity, as an entity) and Evil Martians Inc.
  ("Licensor"). Read it carefully before completing the installation process and using AnyCable Pro and all upgrades made
  available to you ("Software"). It provides a license to use the Software and contains warranty information and liability
  disclaimers. By installing and using the Software, you are confirming your acceptance of the Software and agreeing to
  become bound by the terms of this Agreement.

h2 1. License.

p.
  Subject to payment of the applicable fees and compliance with this EULA, Licensor grants you a limited,
  non-exclusive and non-transferable license to use the rights for the Software, without the right to grant sublicenses,
  subject to the terms and conditions in this Agreement. The Software is licensed, not sold.

h2 2. Delivery.

p.nested.
  (a) In order to use the Software under this Agreement, you shall receive the Installation Instructions and all other
  necessary installation information that will be send to your email account at the time of purchase, in accordance with
  the scope of use and other terms specified for each type of Software and as set forth in this Section 3 (License Types).

p.nested.
  (b) All Software and license documentation shall be delivered by electronic means unless otherwise specified in the
  applicable invoice or at the time of purchase. Software shall be deemed delivered when it is made available for download
  by you.

h2 3. License Types.

p.nested.
  (a) Standard Commercial Use License. If you purchased a Standard Commercial Use License, you may use the Software solely
  for your internal operations, as well as translate or incorporate the Software into other software. However, under no
  circumstances may you sell or use the Software as part of a product or service that competes with the Software itself.
  For example, you may not provide the Software “as a service” for integration into others’ software applications, or an
  enhanced version of the Software offering performance or general-purpose functional improvements. A product or service
  may compete even if it provides its functionality via a different kind of interface (such as a service, library, or
  plug-in), even if it is ported to a different platform or programming language, and even if it is provided free of
  charge.

p.nested.
  (b) Extended Commercial Use License. If you purchased an Extended Commercial Use License, you may use the Software for
  your internal operations and commercial activities, as well as translate or incorporate the Software into other
  Software. Also, you are entitled to use the Software as a part of a product or service that provides similar
  functionality to the Software itself.

h2 4. Permitted Uses.

p.nested.
  (a) Archive Copies. You are entitled to make a reasonable amount of copies of the Software for archival purposes. Each
  copy must reproduce all copyright and other proprietary rights notices on or in the Software.

p.nested.
  (b) Modifications. You are entitled to create Modifications of the original Software. "Modification" means:

p.nested-2.
  (i) any addition to or deletion from the contents of a file included in the original Software or previous Modifications
  created by you, or

p.nested-2.
  (ii) any new file that contains any part of the original Software or previous Modifications. While you retain all rights
  to any original work authored by you as part of the Modifications, we continue to own all copyright and other
  intellectual property rights in the Software.

h2 5. Restricted Uses.

p.nested.
  (a) You shall not (and shall not allow any third party to):

p.nested-2.
  (i) Distribute, sublicense, rent, lease or use the Software whether modified or unmodified for time sharing, hosting,
  service provider or like purposes, except as expressly permitted under this Agreement;

p.nested-2.
  (ii) Remove any product identification, proprietary, copyright or other notices contained in the Software.

p.nested.
  (b) You may permit a third party to use the Software licensed to you under this EULA if such use is solely:

p.nested-2.
  (i) on your behalf;

p.nested-2.
  (ii) for your internal operations;

p.nested-2.
  (iii) in compliance with this EULA.

p.nested.
  (c) You agree that you are liable for any breach of this EULA by that third party.

p.nested.
  (d) Some components of the Software, such as open source components, may be available under the terms of free public
  licenses, such as version of The MIT License or GNU Lesser General Public Licenses. Public license terms and other
  notices for such components are available at <a href="/notice">https://anycable.io/notice</a>. If the restrictions of this Agreement would
  conflict with the terms of a public license for a component of the Software, the restrictions of this Agreement do not
  apply to that component.

h2 6. Upgrades and Additional Copies of Software.

p.
  Notwithstanding any other provision of this EULA, you are not permitted to use upgrades unless you, at the time of acquiring such upgrade:

p.nested.
  (a) already hold a valid license to the original version of the Software, are in compliance with such license, and have
  paid the applicable fee; and

p.nested.
  (b) limit your use of upgrades or copies to use on devices you own or lease; and

p.nested.
  (c) make and use additional copies solely for backup purposes, where backup is limited to archiving for restoration
  purposes.

h2 7. Support, Maintenance, and Services.

p.nested.
  (a) Licensor is entitled to provide you with support and maintenance services for the period of the Agreement. Licensor
  determines the time necessary for the support.

p.nested.
  (b) All Software Support, Maintenance and Services provided to you under this Agreement are provided by Licensor on an
  "as is" basis with no other express or implied warranty. Licensor is not liable, among other things, if the Software
  Support, Maintenance and/or Services will not operate free of errors, uninterrupted in your operating environment.
  Licensor does not warrant that the Software Support, Maintenance and/or Services will identify or protect against all
  known or future viruses, security or system risks.

p.nested.
  (c) Internet-based support system is generally available by email: anycabley@evilmartians.com.

h2 8. Ownership.

p.
  Licensor retains ownership of all intellectual property rights in and to the Software, including copies, improvements, enhancements, derivative works and modifications thereof. Your rights to use the Software are limited to
  those expressly granted by this EULA. No other rights with respect to the Software or any related intellectual property
  rights are granted or implied.

h2 9. Fees and Payment.

p.
  The Software license fees will be due and payable in full as set forth in the applicable invoice or
  at the time of purchase.

h2 10. Term of Agreement.

p.nested.
  (a) Term. Your right to use the Software begins on the date the Software is made available for download or installation
  and continues until the end of the specified term unless otherwise terminated in accordance with this Agreement. For
  clarification, the term of your license under this Agreement is designated as a fixed-term license in the invoice and
  shall be specified at your time of purchase. Either party may terminate this Agreement (including all related Invoices)
  if the other party:

p.nested-2.
  (i) fails to cure any material breach of this Agreement within fifteen (15) working days after written notice of such
  breach, provided that Licensor may terminate this Agreement immediately upon any breach of Section 5 (Restricted Uses)
  or if you exceed any other restrictions contained in Section 3 (License Types), unless otherwise specified in this
  Agreement;

p.nested-2.
  (ii) ceases operation without a successor; or

p.nested-2.
  (iii) seeks protection under any bankruptcy, receivership, trust deed, creditors arrangement, composition or comparable
  proceeding, or if any such proceeding is instituted against such party (and not dismissed within sixty (60) days)).

p.
  Termination is not an exclusive remedy, and the exercise by either party of any remedy under this Agreement will be
  without prejudice to any other remedies it may have under this Agreement, by law, or otherwise.

p.nested.
  (b) Termination. Upon any termination of this Agreement, you shall cease any and all use of any Software and destroy all
  copies thereof. Licensor is not obliged to make a refund in case of early termination of the Agreement because of your
  default.

p.nested.
  (c) Expiration of License. Upon the expiration of any term under this Agreement,

p.nested-2.
  (i) all Software updates and services pursuant to the license shall cease,

p.nested-2.
  (ii) you may only continue to run existing installations of the Software,

p.nested-2.
  (iii) any new installation of the Software shall require the purchase of a new license subscription from Licensor.

p.nested.
  (d) Disclaimer of Warranties.

p.nested-2.
  (i) The Software is provided "as is," with all faults, defects and errors, and without warranty of any kind. Licensor
  does not warrant that the Software will be free of bugs, errors, viruses or other defects, and Licensor shall have no
  liability of any kind for the use of or inability to use the Software, the Software content or any associated service,
  and you acknowledge that it is not technically practicable for Licensor to do so.

p.nested-2.
  (ii) To the maximum extent permitted by applicable law, Licensor disclaims all warranties, express, implied, arising by
  law or otherwise, regarding the Software, the Software content and their respective performance or suitability for your
  intended use, including without limitation any implied warranty of merchantability, fitness for a particular purpose.

h2 11. Limitation of Liability.

p.nested.
  (a) In no event Licensor can be liable for any direct, indirect, consequential, incidental, special, exemplary, or
  punitive damages or liabilities whatsoever arising from or relating to the Software, the Software content or this
  Agreement, whether based on contract, tort (including negligence), strict liability or other theory, even if Licensor
  has been advised of the possibility of such damages.

p.nested.
  (b) In no event will Licensor liability exceed the Software license price as indicated in the invoice. The existence of
  more than one claim will not enlarge or extend this limit.

h2 12. Remedies.

p.
  Your exclusive remedy and Licensor's entire liability for breach of this Agreement shall be limited, at
  Licensor sole and exclusive discretion, to replacement of any defective Software or documentation.

h2 13. Acknowledgments.

p.
  You agree that Licensor and its affiliates may collect and use technical information gathered as
  part of the product support services. Licensor may use this information solely to improve products and services and will
  not disclose this information in a form that personally identifies you.

h2 14. Miscellaneous.

p.nested.
  (a) Entire Agreement. This Agreement sets forth our entire Agreement with respect to the Software and the subject matter
  hereof and supersedes all prior and contemporaneous understandings and agreements, whether written or oral.

p.nested.
  (b) Amendment. Licensor reserves the right, in its sole discretion, to amend this Agreement from time to time. All
  amendments will be published on: https://anycable.io/eula.

p.nested.
  (c) Assignment. You may not assign this Agreement or any of its rights under this Agreement without the prior written
  consent of Licensor, and any attempted assignment without such consent shall be void.

p.nested.
  (d) Export Compliance. You agree to comply with all applicable laws and regulations, including laws, regulations,
  orders, or other restrictions on export, re-export, or redistribution of Software.

p.nested.
  (e) Indemnification. You agree to defend, indemnify, and hold harmless Licensor from and against any lawsuits, claims,
  losses, damages, fines, and expenses (including attorneys' fees and costs) arising out of your use of the Software or
  breach of this Agreement.

p.nested.
  (f) Governing Law. Pre-trial settlement of disputes within 10 (ten) days is required. If it fails, this Agreement shall
  be governed and construed in accordance with the laws of New York, United States, without regard to its conflict of law
  provisions. Licensor's failure to enforce any right or provision of this Agreement will not be considered a waiver of
  those rights. If any provision of this Agreement is held to be invalid or unenforceable by a court, the remaining
  provisions of the Agreement will remain in effect.

p.nested.
  (g) Severability. If any provision of this Agreement is held by a court of competent jurisdiction to be invalid,
  illegal, or unenforceable, the remainder of this Agreement will remain in full force and effect.

p.nested.
  (h) Waiver. Failure or neglect by either party to enforce at any time any of the provisions of this License Agreement
  shall not be construed or deemed to be a waiver of that party's rights under this Agreement.

p.nested.
  (i) Contact Information. If you have any questions about this EULA, or if you want to contact Licensor for any reason,
  please direct correspondence to anycable@evilmartians.com.
