if env === 'development'
  script(src="/jspm_packages/system.js", type='text/javascript')
  script(src="/jspm.config.js", type='text/javascript')
  script(type='text/javascript').
    System.import('/src/js/index.js');
else
  script(src="/js/app.min.js", type="text/javascript")

block scripts
