meta(itemprop='name', content='AnyCable')
meta(property='og:title', content='AnyCable')
meta(name='description', content='Action Cable on steroids!')
meta(itemprop='description', content='Action Cable on steroids!')
meta(property='og:description', content='Action Cable on steroids!')
meta(itemprop='image', content='http://anycable.github.io/images/share.png')
meta(property='og:image', content='http://anycable.github.io/images/share.png')

// Twitter Card data
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@any_cable')
meta(name='twitter:creator', content='@any_cable')
meta(property='og:site_name', content='AnyCable')
meta(name='keywords', content='rails, actioncable, websocket, anycable, grpc, ruby, erlang, golang')
link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='/manifest.json')
meta(name='theme-color', content='#000000')
